[2017-10-11 16:30] ondys commented on #220
Thanks for the report, we will update the draco_decoder.js with the correct `isVersionSupported()` function. That being said, you should be able to decode .drc files encoded with 1.1.0 files just fine. The decoder itself does not use this function to verify the version.

[2017-10-11 21:07] zellski commented on #220
Ahh, I missed the origin of the call. It's being explicitly checked by `DRACOLoader.js`, committed to the three.js library:
[code]

Easy enough to hack past, sure. Still, we live in hope that by the time the next formal three.js release comes around, it will include stable Draco support out of the box. It looks like all the pieces are moving into place reliably.

[2017-10-12 12:46] usmanshah commented on #224
**[SOLVED]**
@fanzhanggoogle I tried the changes you suggested. They were a step in the right direction but the error was not gone. Then your comment about the "updated version" go my eye.
I was initially using DRACOLoader for the ThreeJs repo, but that does not work interchangeably with the latest DRACOLoader in this repo. Now i switched to the DRACOLoader in this repo, and everything seems to wo

[2017-10-12 12:46] #224 closed

[2017-10-16 23:00] kaizer1 opened #241 "does not compile a draco library for Android"
Here's how to attach a library to my cmake:
add_subdirectory(draco-master ${CMAKE_BINARY_DIR}/draco_build)
include_directories("${CMAKE_BINARY_DIR}"/)

Here are the errors I get when compiling:

![screen shot 2017-10-17 at 01 57 37](https://user-images.githubusercontent.com/5073933/31638911-b5da0f22-b2de-11e7-8565-42726843e618.png)

Android Studio, project API > 18
  In what I was mistaken. I will

[2017-10-16 23:45] fanzhanggoogle commented on #241
Hi, @kaizer1 what os are you using?

[2017-10-16 23:47] kaizer1 commented on #241
Hi @fanzhanggoogle os - macOS High Sierra 10.13

[2017-10-16 23:51] fanzhanggoogle commented on #241
Thanks for the report. We are aware of this issue and have fixes coming. For temporary fix:
1) Add #include "draco/compression/point_cloud/point_cloud_decoder.h" to decode.h
2) Change "std::log2" to just "log2"
These should make it compile. The fix will go to master soon.

Let me know if it works for you.

[2017-10-16 23:56] kaizer1 commented on #241
I did this and did not help. And you do not have an assembled sample library for android?

[2017-10-16 23:58] fanzhanggoogle commented on #241
Currently we don't. If you could report your error, I might be able to help further.

[2017-10-17 00:27] kaizer1 commented on #241
Sorry, very long compile library. It seems all works well, thank you. I made changes to what you said and now everything is ok. And such a question, if possible, I read that it is now possible to download not only the obj format file,  but also the format of gltf, but nowhere can I find more information, you do not know where you can read about it more. Or download a library with this option. Than

[2017-10-17 00:44] fanzhanggoogle commented on #241
Good to know. Sorry I forgot one more thing you need to enable mesh decoding:
Add `#define DRACO_MESH_COMPRESSION_SUPPORTED` to decode.h.

Regarding the GLTF draco extension, it's WIP. We are working with the community to have support for various loader and exporter. You could start from the Spec here:
https://github.com/KhronosGroup/glTF/pull/874

[2017-10-18 11:14] syed-usman opened #242 "Adding material Indices to the DracoMesh in Javascript"
Hi,
I am trying to convert a **THREE.Geometry** Object into a **DracoMesh**

Using the MeshBuilder to add data to **dracoMesh**, how do I add the material indices of the faces to **dracoMesh** using the **MeshBuilder** ?

[code]
If I do it like this I get float values in the GENERIC data, while uncompressing.

Any help will be appreciated :)

[2017-10-19 08:00] usmanshah commented on #52
@ondys

Do you know how to encode these material ids when using the MeshBuilder to build a Draco Mesh in Javascript ? I have already asked a question [here](https://github.com/google/draco/issues/242)

[2017-10-23 02:50] TheBiggestNumber commented on #126
Hi, is there any news on the above point cloud sequence compression, for animation? Thanks!

[2017-10-23 14:52] mhsaar commented on #126
Hi, I believe that sequential point cloud compression is slightly different from was initially posted. So I'd suggest to open a different issue. Also, there is already some sequential point cloud compression in DRACO, you may want to check if that is already giving you some significant gains.

[2017-10-24 02:44] TheBiggestNumber opened #255 "Compressing a sequence of point clouds into point cloud animation stream"
Hi. Thanks for the great project!
I have a long sequence of point cloud files that I would like to compress into an animation.
Each point cloud would be a frame of the animation sequence.
(These can also be bin or ply mesh files if results are better).
Is it possible to encode a sequence of files into a single compressed ‘video’ file (point cloud frame sequence), then decode that as an animation?

[2017-10-24 03:07] farzaa opened #256 "Encoding a .obj along with its associated .mtl"
Hey there all. I'm a bit new to the world of 3D models so sorry if I say something grossly incorrect :)!

Currently I'm using the command line tool like so to encode
`./draco_encoder -i testdata/in_model.obj -o out.drc`

And than to decode I do
`./draco_decoder -i out.drc -o out_model.obj`

in_model.obj is a custom model I created using AutoDesk ReMake which basically allows me to take a bunch of

[2017-10-25 14:37] usmanshah commented on #242
@fanzhanggoogle
In a comment on [Issue 178](https://github.com/google/draco/issues/178), you mentioned

I am trying to do the exact same thing here and need some help regarding compressing the material IDs.
**PS** Is there a time frame when this could be released ?

[2017-10-26 00:28] millerhooks commented on #255
I am actively working on this as well. Taking point clouds from a depth camera and streaming them. Animated point clouds appear to not be a well established standard that I can locate and I haven't seen any real discussion about animated point cloud compression with Draco. Currently I believe each frame needs to be compressed independently, however there could be much to gain from compression betw

[2017-10-26 03:21] Frankling opened #267 "compress THREE.BufferGeometry to DracoMesh and back?"
@fanzhanggoogle  I have tried to compress THREE.BufferGeometry that just including attributes, then get the outputdata. However when I decode this outputdata I got dracoGeometry that have 0 attributes?  Is there something mistake ?
`<pre>var mesh = {normals:obj.attributes.normal.array,vertices:obj.attributes.position.array,uv:obj.attributes.uv.array}
var encoderModule = DracoEncoderModule();

var

[2017-10-26 18:14] rezaali opened #268 "cmake fails to create Xcode project on macOS Sierra 10.12.6"
Freshly cloned draco today and was unable to get the Xcode project created via cmake (version 3.7.2)

logs says to:
[code]

tried that and then got this:
[code]

Then tried:
[code]

and got:
[code]

Help?

[2017-10-26 18:43] rezaali commented on #268
Got this working by creating a build folder manually:
[code]

[2017-10-26 18:43] #268 closed

[2017-10-29 01:41] TheBiggestNumber commented on #255
Hi Millerhooks. Thanks for your reply! Yes, recording and streaming depth camera video is exactly what I’m working on. Indeed, it looks like there’s no current standard for point cloud video compression (despite the seeming applicability of current 2D video compression techniques). I checked out your repo, and I’m looking forward to see this progress. I have the Brekel point cloud software and wil

[2017-10-30 00:36] millerhooks commented on #255
Sweet! Thanks for checking it out! If you look, I put together a script and a little c program/bash script combo to take an export from Brekle in PTS format and quickly batch convert the frames to drc. Sort of handy.

With ARKit and GoogleAR I think there might be a much faster way to get point clouds in that doesn't involve all the kinect stuff, I've got Draco compiled for iOS so I think I can di

[2017-10-30 10:43] millerhooks commented on #255
https://github.com/keijiro/Pcx

Really amazing new Unity Point Cloud tool from one of my favorite unity devs @keijiro

[2017-11-02 10:31] edent opened #278 "Broken link in CONTRIBUTING.md"
The link to `Google Individual Contributor License Agreement` doesn't render properly because of a linebreak

[2017-11-07 19:43] geeknik opened #281 "heap-buffer-overflow in src/draco/core/draco_index_type.h"
Well this was originally reported to the VRP on 18 January 2017 (3-6824000015918) and I was told that it was fixed on 3 April 2017, but it isn't fixed as of commit `5b09a85` so I'm going to go ahead and publicly disclose it here.

Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test2](https://github.com/google/draco/files/1451334/test2.gz)
[code]

[2017-11-07 19:43] geeknik opened #282 "signed integer overflow in src/draco/compression/mesh/mesh_sequential_decoder.cc"
Compiled with clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test002](https://github.com/google/draco/files/1451343/test002.gz)

[code]

[2017-11-07 19:43] geeknik opened #283 "signed integer overflow in src/draco/compression/mesh/mesh_edgebreaker_decoder_impl.cc"
Compiled with clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test011](https://github.com/google/draco/files/1451365/test011.gz)

[code]

[2017-11-07 19:56] geeknik opened #284 "division by zero in src/draco/core/quantization_utils.cc"
Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test057](https://github.com/google/draco/files/1451419/test057.gz)

[code]

[2017-11-07 19:59] geeknik opened #285 "null pointer dereference in src/draco/attributes/geometry_attribute.h"
Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test056](https://github.com/google/draco/files/1451432/test056.gz)

[code]

[2017-11-07 20:05] geeknik opened #286 "signed integer overflow in src/draco/compression/attributes/sequential_quantization_attribute_decoder.cc"
Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test073](https://github.com/google/draco/files/1451448/test073.gz)

[code]

[2017-11-07 20:40] #278 closed

[2017-11-07 21:07] geeknik opened #288 "signed integer overflow in src/draco/compression/attributes/prediction_schemes/prediction_scheme_wrap_decoding_transform.h"
Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test084](https://github.com/google/draco/files/1451642/test084.gz)

[code]

[2017-11-07 21:12] geeknik opened #289 "null pointer dereference in /src/draco/compression/mesh/mesh_edgebreaker_traversal_valence_decoder.h"
Compiled with Clang 6.0.0-trunk and -fsanitize=address,undefined.

./draco_decoder -i [test117](https://github.com/google/draco/files/1451663/test117.gz)

[code]

[2017-11-09 02:18] chenkandewang opened #290 "Properties missed after decoded from .drc"
I  tried to encode the bun_zipper.ply using encode tool. When I recovering the .ply file from .drc using decode tool, I found that following properties were missed:
property float confidence
property float intensity

I just followed the guideline as:
./draco_encoder -i testdata/bun_zipper.ply -o out.drc
&
./draco_decoder -i out.drc -o bun_zi_rec.ply

Anybody know what's the reason? Thanks!

[2017-11-10 05:17] zynga-jpetersen opened #291 "draco_encoder_nodejs.js didnt get updated during 1.2 build process."
It doesnt look like draco_encoder_nodejs.js got updated during these changes, even though draco_encoder.js did get updated (and it looks like the c++ for encoding it got updated as well).

From reading draco_encoder_nodejs.js it doesnt look like it uses draco_encoder.js, so it looks like it needs to get updated separately?

Thanks and great project.

[2017-11-10 05:39] zynga-jpetersen opened #292 "Inconsistently seeing THREE.DRACOLoader: Decoding failed: Not a Draco file."
Its followed up with error "THREE.DRACOLoader: Unknown geometry type."

My draco compressed gltf model generally loads, so I'm not sure what might be triggering this race condition.

I do load multiple models around the same time, so I'm now as I write this wondering if depending on those network conditions how at the same time they are.

For each of those scenes I am using separate GLTFLoaders an

[2017-11-10 09:28] zynga-jpetersen commented on #292
I'm pretty sure this is actually a result of the https://github.com/fanzhanggoogle/gltf-pipeline/tree/draco_compression_extension renaming the .bin file to 0.bin and me not correctly handling the fact that depending on how long some stuff takes to load I've got 2 things named 0.bin . That tool doesnt seem to produce a valid glb any more, so I'll look at renaming the binary file to its original nam

[2017-11-10 15:01] zynga-jpetersen commented on #292
Yeah its an issue with the way I'm loading the assets from a tar file. Thanks!

[2017-11-10 15:01] #292 closed

[2017-11-10 15:28] Astrak opened #293 "Lossy compression issue ?"
Hello Draco team and thank you for this great work.

I'm noticing that the compression sometimes happens to output unexpected results : the following image represents the result of a conversion, it has many holes and shifted polys indices.

![compression?](https://img4.hostingpics.net/pics/883874Capturedcrande20171110161750.png)

Is this an identified problem ? Is it always to be expected ? Is the

[2017-11-10 17:52] fanzhanggoogle commented on #291
Hi @zynga-jpetersen , thanks for reporting the issue. The npm package has been updated. You can checkout [here](https://www.npmjs.com/package/draco3d).

I'll close this issue then.

[2017-11-11 12:22] millerhooks opened #295 "Unity3d Reading Color Values from Point Cloud"
I will open with saying I haven't tried to do C++ in 15 years and this has been a great growth experience for me! I'm working on getting animated point clouds working in Unity3D, I would also like to contribute back a pull request after it's a little further along, but I'm confused on how to render my color values when they come back from `float colors[]`. I haven't found any documentation that's

[2017-11-12 01:02] mhsaar commented on #293
Hi,

would it be possible for you to send all three files. Input, compressed,
output?

Thanks a lot,
 Michael

On Fri, Nov 10, 2017 at 7:29 AM, Atrahasis <notifications@github.com> wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2017-11-13 10:45] Astrak commented on #293
Hi @mhsaar , thank you for your quick answer.

- obj input : https://www.dropbox.com/s/grjznv0bya4ifhz/20150624_145059.obj?dl=0
- compressed : not sure what you're talking about ? I only have input / output files ?
- drc output : https://www.dropbox.com/s/sc5anuhe50qqr6e/33B484AA-4585-4817-B66C-E9AB4894AFCF.drc?dl=0

[2017-11-13 17:47] ondys commented on #293
@Astrak Can you send us the corresponding .mtl file + compression settings as well? I was unable to reproduce the issue when running the attached .obj file through draco_encoder and draco_decoder using the default settings (the decoded model looked correct in that case)

[2017-11-14 06:54] Astrak commented on #293
That's strange. I just re-tested with the last version of the loader, I still do have this same weird output. I have rebuilt draco_encoder from the latest master as well.

I did not use the mtl file when meeting this issue, do you think it still can help to share it ?

The conversion command used is the default one
[code]

[2017-11-14 15:37] ondys commented on #293
that's indeed strange. What OS and compiler did you use to build the draco encoder?

[2017-11-14 17:54] ondys commented on #290
our .ply decoder currently does not process custom properties. We plan to add support for this in future releases.

[2017-11-14 17:56] #281 closed

[2017-11-14 17:56] ondys commented on #281
fixed in 1.2.1

[2017-11-14 17:56] ondys commented on #282
fixed in 1.2.1

[2017-11-14 17:56] #282 closed

[2017-11-14 17:56] ondys commented on #283
fixed in 1.2.1

[2017-11-14 17:56] #283 closed

[2017-11-14 17:57] ondys commented on #285
fixed in 1.2.1

[2017-11-14 17:57] #285 closed

[2017-11-14 17:57] ondys commented on #284
fixed in 1.2.1

[2017-11-14 17:57] #284 closed

[2017-11-14 17:57] ondys commented on #286
fixed in 1.2.1

[2017-11-14 17:57] #286 closed

[2017-11-14 17:57] ondys commented on #288
fixed in 1.2.1

[2017-11-14 17:57] #288 closed

[2017-11-14 17:58] ondys commented on #289
fixed in 1.2.1

[2017-11-14 17:58] #289 closed

[2017-11-14 18:43] Abhi-1725 commented on #88
CMake Error at CMakeLists.txt:3 (project):
  No CMAKE_C_COMPILER could be found.

I am using VS 15.4.3 community 2017
Cmake version : 3.10.0 RC3
 c++ programs can compile

[2017-11-14 18:44] fanzhanggoogle commented on #295
Hi @millerhooks , thanks for the info. It's great to see someone starts to use the Unity integration before we have even announced the support. We really appreciate your work on the point cloud part. Currently we are still working on this branch and had some big refactoring and changes internally. The branch here is just experimental and for testing easily on multiple platforms. So once we are set

[2017-11-14 19:00] millerhooks commented on #295
Awesome! Everything I'm doing requires beta unity, iOS and android, so I'm fully expecting lots of conflicts. I think I'll be able to wrap it up this weekend with rendering, merge in the previous mesh work, and submit a PR. Thanks for all your work on this project, I really think it's a hugely important tool for what's about to happen with computer interface.

[2017-11-14 19:21] Astrak commented on #293
latest cmake on latest ubuntu :thinking:

I will post here if it occurs with other files.

[2017-11-14 19:30] ondys commented on #256
@farzaa You can try encoding the model with `--metadata` flag. In that case the reference to the material names should be preserved. There is no simple way how to store the .jpg in the encoded .drc at this time.

[2017-11-14 19:38] fanzhanggoogle commented on #267
Hi @Frankling , sorry for the late reply. Have you solved your issue?

[2017-11-14 19:48] Abhi-1725 commented on #88
Also this is one of the error that i have received :

CMake Error: The source directory "C:/Users/ada24/source/repos/glfw-3.2.1/glfw-3.2.1" does not appear to contain CMakeLists.txt.

i would like to know whether  i am supposed to write the script to for  a new CMakeLists.txt  file  according to the particular  c++ program.

[2017-11-14 20:41] ondys commented on #293
To me, it looks like a parsing issue where one or more input vertices in the .obj file were not processed correctly (skipped) so the mapping between faces and vertices was wrong (shifted). This is often related to line-ending problems but we both tested in Ubuntu so I would expect the behavior to be the same.

Just out of curiosity, can you try to re-download the .obj file that you posted from dro

[2017-11-15 12:55] Astrak commented on #293
You rang a bell by saying that the file I sent was not the real encoding input :innocent: :clap: . Indeed the file I use as input is the result of an import + export inside ThreeJS, with OBJLoader and OBJExporter, since both are OBJ I did not even consider that. The output of this OBJExporter uses to be many times bigger whatever the file though, so it is definitely different.

Here is that OBJ-ex

[2017-11-15 16:13] tomfinegan commented on #88
@Abhi-1725:

Please open a new issue and include following so I can help you:

1.  Your CMake command line.
2. All of the CMake output.
3. The following files (might not exist, but if present):
    CMakeFiles/CMakeOutput.log
    CMakeFiles/CMakeError.log

I'm unfamiliar with glfw. It appears to include CMake support. The error you've pasted into your comment means exactly what it says. There is no

[2017-11-15 17:00] ondys commented on #293
thanks! I was able to reproduce the problem with the new model. It's a parsing issue and we should have a fix available soon. Meanwhile, you can delete the first line from the .obj file to fix the loading (the one with starting with  `o  `)

[2017-11-15 17:02] Abhi-1725 opened #296 "use of open GL in visual studio with the help of cmake."
Hello team,

Actually i want to measure depth of a 3d image using a ZED camera. also i want to use other features like spatial mapping , positional tracking. I have installed visual studio 2017 community.  I want to use open GL window so that i can show coordinates and 3d images.  To use Open GL i need cmake GUI so that its easier to convert .cpp files to mex files / other  files.
 the snap shot o

[2017-11-15 17:26] tomfinegan commented on #296
C compiler test failure:

C++ compiler test failure:

Build FAILED.

Probable fix:
https://stackoverflow.com/questions/33599723/fatal-error-lnk1104-cannot-open-file-gdi32-lib

This is not a draco bug. Your environment is not correctly configured.

[2017-11-15 17:26] #296 closed

[2017-11-15 18:28] Abhi-1725 commented on #296
hello team,

i have configured as per your suggestion. still i am getting the same error. Kindly assist.
![cmake output](https://user-images.githubusercontent.com/33417745/32853273-6cd3c8dc-ca43-11e7-8cd3-fccd07d2020d.JPG)
[CMakeOutput.log](https://github.com/google/draco/files/1475874/CMakeOutput.log)
[CMakeError.log](https://github.com/google/draco/files/1475875/CMakeError.log)

[2017-11-15 18:34] tomfinegan commented on #296
CMakeError.log still contains the same link errors for gdi32.lib. This is not a Visual Studio support forum, but this [page](https://developercommunity.visualstudio.com/content/problem/59748/visual-studio-2017-v152-264306-still-missing-gdi32.html) from the Visual Studio support forum suggests the following work around:

1. Launch Visual Studio Installer
2. Go to Individual Components
3. Make sure

[2017-11-15 23:15] zynga-jpetersen commented on #291
Thanks!

[2017-11-15 23:15] #291 closed

[2017-11-15 23:18] ondys commented on #242
only floating point attributes are currently supported by the Javascript API.. you can still store the material ids as floats but the compression is most likely going to be worse and you will have to handle it on the decoder.

We plan to add support for integer attributes in future releases.

[2017-11-16 01:36] Frankling commented on #267
@fanzhanggoogle  not yet, still working on it.

[2017-11-16 03:16] chenkandewang commented on #290
Got it. Thanks.

[2017-11-16 03:16] #290 closed

[2017-11-16 06:34] shubhamagarwal003 opened #297 "Javascript decoder raises error when qp value increased while encoding."
Hi,
Javscript decoder raises following error
[code]
when I tried to encode mesh with higher Position Quantization Parameter (-qp generally greater than 20). I tried for multiple meshes but the same error occurs for them. For smaller qp the encoded file is successfully decoded.

[2017-11-16 07:03] shubhamagarwal003 commented on #295
@fanzhanggoogle  @millerhooks  are there any plans to add a plugin to allow encoding meshes from Unity? As sometimes it is required to export meshes from Unity and view them using webgl.

[2017-11-16 09:20] Astrak commented on #293
Thank you so much ! Very good news.

[2017-11-16 17:25] fanzhanggoogle commented on #297
@shubhamagarwal003 Thanks for the report. Will you be able to send a sample model that fails decoding so that I could test to what's the problem?

[2017-11-16 17:34] fanzhanggoogle commented on #267
@Frankling I realized that you are actually compressing a point cloud. We don't currently expose the point cloud encoding API in Javascript, e.g. EncodePointToDracoBuffer(). But if you only want to decode a point cloud, you should be able to get by for example:
[code]

[2017-11-16 17:36] fanzhanggoogle commented on #295
@shubhamagarwal003 Currently it's no on our roadmap.

[2017-11-16 17:41] fanzhanggoogle commented on #227
Hi @theothersideofgod , currently we don't have direct API to do that, but you can achieve that by writing some obj loading code yourself. e.g:
[code]

And then you could compress the mesh using the `MeshBuilder` as in the example.

[2017-11-16 22:08] ondys commented on #293
this should be now fixed in our latest release

[2017-11-16 22:08] #293 closed

[2017-11-17 02:39] Frankling commented on #267
![qq 20171117103606](https://user-images.githubusercontent.com/5674121/32926669-60cea232-cb83-11e7-8bbd-403fc37b06f5.jpg)

[2017-11-17 07:08] theothersideofgod commented on #227
Thank you so much! fanzhanggoogle,  we will try your solution, thanks a lot

[2017-11-17 11:27] mekya opened #298 "How to Render Mesh in Native Android App?"
Hi,

How can it be possible to render [Mesh](https://github.com/google/draco/blob/master/src/draco/mesh/mesh.h) on OpenGL Surface in native Android app?

Is there anyone that can give a clue about that?

Regards,
A. Oguz

[2017-11-17 23:59] millerhooks commented on #295
@shubhamagarwal003 It's on my roadmap in the next few weeks actually. I'm going to try to get that going this weekend.

There are a few existing tools for getting meshs to objects in Unity though.

http://wiki.unity3d.com/index.php?title=ObjExporter

I think that might get you where your going. I'm focusing on point clouds mostly and mesh is gonna be later.

[2017-11-18 05:53] shubhamagarwal003 commented on #295
@millerhooks Thanks. I am able to export the meshes to objects using similar script you pointed to. I was looking at compress this using draco from within unity. Currently I am using the .exe generated by draco but was considering if we can make a plugin for draco encoder also for unity.

[2017-11-18 06:03] shubhamagarwal003 commented on #297
@fanzhanggoogle I've uploaded one of the test model on google drive. Link to that is https://drive.google.com/drive/folders/13tMxLiFy1fIQFZ_EZIbFFEChOLvg0iHH?usp=sharing

[2017-11-18 07:43] Abhi-1725 commented on #296
Hello team,

thanks a lot for the previous help.
i have another issue
 which says :

Looking for pthread.h
Looking for pthread.h - not found
Found Threads: TRUE
Could NOT find Vulkan (missing: VULKAN_LIBRARY VULKAN_INCLUDE_DIR)
Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)
Using Win32 for window creation

![cmake 1](https://user-images.githubusercontent.com/33417745/32978143-deb1e206-cc44-1

[2017-11-18 12:02] millerhooks commented on #295
@shubhamagarwal003 I will probably be adding hooks in the unity plugin for encoding this weekend. Like I said, I'm focused on point clouds, but if I have time I'll make it handle mesh objects as well.

If you're really itching to get something done you can watch my fork.

https://github.com/millerhooks/draco/tree/unity_point_cloud_plugin

[2017-11-18 13:57] Abhi-1725 commented on #296
Hello team,

i have another issue
which says :

Looking for pthread.h
Looking for pthread.h - not found
Found Threads: TRUE
Could NOT find Vulkan (missing: VULKAN_LIBRARY VULKAN_INCLUDE_DIR)
Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)
Using Win32 for window creation

I am using windows 10, visual studio 2017 and glfw 3.2.1

![image](https://user-images.githubusercontent.com/33417745/32980

[2017-11-18 15:18] Abhi-1725 opened #299 "Cmake not finding vulkan"
Hello team,

its urgent. kindly do the needful ASAP

i have another issue
which says :

Looking for pthread.h
Looking for pthread.h - not found
Found Threads: TRUE
Could NOT find Vulkan (missing: VULKAN_LIBRARY VULKAN_INCLUDE_DIR)
Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)
Using Win32 for window creation

I am using windows 10, visual studio 2017 and glfw 3.2.1

image

CMakeOutput.log
CM

[2017-11-18 18:14] edankwan commented on #123
Is it possible to expose more parameters like this one into the command-line tool?

[2017-11-19 21:11] eddiz opened #300 "Linking error with VS2017"
Hello,

the current master branch does not link with the default settings on Windows 10, Visual Studio 2017

CMake (ok)
Compiling (ok)
Linking (see below:)

./draco/compression/attributes/prediction_schemes/prediction_scheme_decoder_factory.h(107): error C2535: 'std::unique_ptr<draco::PredictionSchemeDecoder<DataTypeT,TransformT>,std::default_delete<_Ty>> draco::MeshPredictionSchemeDecoderFactory<

[2017-11-20 04:14] donmccurdy commented on #126
Another case to consider here — from Draco's perspective, likely not that different from multiple PLYs? — would be morph targets. In glTF we can get some savings with sparse accessors, but the in-progress glTF/Draco extension does not deal with morph targets at all, and seems like it could be promising.

[2017-11-20 20:18] tomfinegan commented on #299
@Abhi-1725

This is not a general support forum. If you are having problems using Vulkan with CMake I suggest looking at Vulkan and CMake documentation to determine the cause of your issue.

[2017-11-20 20:18] #299 closed

[2017-11-20 23:00] robertlong commented on #300
I'm seeing the same thing in `1.2.2` and `1.2.1`. Version `1.2.0` compiles correctly.

[2017-11-21 10:38] ShaoyuanLi opened #302 "can draco support progressive decode?"
can draco support progressive decode?
I want to implement a web 3D rendering system based on my web render and draco.some models may be too larger(even compressed by draco) to be transmissed entirly on Internet.I read the [BitStream](https://google.github.io/draco/spec/) and some source code and don't find a appropriate method.

For progressive model decode,I have some thoughts:

1. Split model to

[2017-11-21 15:12] mhsaar commented on #302
Hi Shaoyuan,

thank you for your feature request.

The current release of Draco does not support progressive encoding.

Regarding your idea, it is also not possible to decode the attributes
before the decoding of the connectivity is completed since the connectivity
aids the compression of the attributes.

At this point I would suggest to generate lower detail representations of
your models which c

[2017-11-21 20:00] FrankGalligan commented on #300
We can reproduce this.

[2017-11-22 10:08] ShaoyuanLi commented on #302
Hi @mhsaar

I understand your suggestion about my question and I've intended to use lower detail model or LOD(level of details) before the issue.

From what I understand about edgebreaker,the connection compression algorithm walk from one triangle onto an adjacent one in a spiral.At each step it encodes whether the tip vertex and the left and right neighbors of the current triangle have already be

[2017-11-22 15:15] mhsaar commented on #302
Hi Shaoyuan,

if I understand you correctly, what you describe would not be considered
progressive encoding/decoding. One would first transmit a low LOD version
and the refine that several times until the full resolution is achieved.

best,
 Michael

On Wed, Nov 22, 2017 at 2:08 AM, Shaoyuan Li <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
Linked

[2017-11-23 08:59] chenkandewang opened #303 "Compress point cloud data with color attribute failed"
I tried to use Draco to compress a ply file. It showed following error info:
[code]
It works well when removing color attribute.
Do you know why this issue occured?
By the way, It worked normally with the much older version of Draco.
A piece of my ply file attatched here:
[code]

[2017-11-23 11:27] ShaoyuanLi commented on #302
Hi mhsaar

I'm so sorry I didn't make myself clear.

From my point of view,in the [corto](https://github.com/cnr-isti-vclab/corto),not only the encoding/decoding order of connection and attributes could be same,but also the memory storage order of connection data and attributes data could follow the encoding/decoding order.In the other words,like the below image,I can firstly decode the red area,t

[2017-11-23 12:24] chenkandewang commented on #303
I guess I have found the answer:
Currently supported only for single attribute by PointCloudKdTreeEncoder.

[2017-11-23 12:24] #303 closed

[2017-11-23 13:18] Dharnidharka opened #304 "Getting segmentation fault for some .obj files with the latest draco build"
I an getting a segmentation fault while trying to convert an object file to draco. I rebuilt draco today, so it's not related to https://github.com/google/draco/issues/57

The output after running the draco_encoder is:
Encoder options:
  Compression level = 7
  Positions: Quantization = 14 bits

Segmentation fault: 11

Attached is one file which is giving the error. I got this error in 6 files out

[2017-11-24 16:39] usmanshah opened #305 "Generic Attribute Data incorrect on Decompression"
I am trying to compress and uncompress a THREE. Geometry with Material ids using Typescript, in an angular4 app.

My test Mesh has (non-indexed) has 24 faces,72 vertices and 11 materials

so i put in 72 material ids (a value for every vertex) into the DracoMesh, like so:

[code]

Then i compress the DracoMesh, like so:
[code]

Then Decompress and get the data from the decompressed object, like so:

[2017-11-24 20:15] jherico opened #306 "Compilation errors when building for Android ArmV8 64 bit / Clang / LibC++"
Building against commit 441d5e05f74f405c309f6099df1fd8b71d90cc43 (current HEAD/1.2.2)

After configuring the application with the command
[code]

I encountered a number of compile errors.

In two locations (obj_decoder.cc and ply_decoder.cc) the code attempts the following assignment `file_size = file.tellg() - file_size;` where `file_size` is an `int64_t`.  This fails on the Clang builds unless y

[2017-11-25 09:18] mekya opened #308 "What properties a 3d model should have for the best compression ratio?"
Hi,

I am using the version 1.2.2 and when I use the bun_zipper.ply, it has a great compression ratio. The compressed file size is about %2.7 of the uncompressed file.

When I use another file(attached), compression ratio is worse and compressed file size is about %20 of the uncompressed file. In addition, it takes more time to decode and encode relatively to bun_zipper.ply.

What the properties a

[2017-11-25 20:56] #300 closed

[2017-11-27 12:25] Ni55aN commented on #304
The same problem on Ubuntu 16 x64. Outputs an error

[2017-11-27 18:46] ondys commented on #304
@Dharnidharka Thanks for the report. The input file you attached contains line segments and no faces and the current Draco version cannot process it. It should still not crash, which will be fixed, but even after the fix, all the line segments are going to be ignored.

@Ni55aN Thanks, I'll look into this case as well (in this case I believe we can simply ignore the unused normal indices)

[2017-11-27 23:06] ondys commented on #305
@usmanshah The middle code snipped is a little bit mangled but it looks like you are setting quantization for your material attribute. Since the data type is set to float, the attribute values are going to be quantized which is a lossy operation and the output values may be wrong. Try it without the quantization. (the compression rate will be worse in this case, but it should work.. we are plannin

[2017-11-27 23:19] mhsaar commented on #303
Hi,

can you send a (small) file that would reproduce the problem?

Thanks a lot,
 Michael

On Thu, Nov 23, 2017 at 12:59 AM, chenkandewang <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2017-11-27 23:38] ondys commented on #308
In general, regular meshes with evenly distributed faces and vertices result in best compression ratios.

The attached model is a nice example of a bad geometry. The triangles are mostly irregular with a lot of holes and the triangle orientations are a complete mess (a lot of neighboring triangles have opposite winding orientations / face normals).. this all leads to a poor compression. I would su

[2017-11-28 01:06] farzaa commented on #256
Thanks!! :)

[2017-11-28 01:06] #256 closed

[2017-11-28 01:16] farzaa opened #309 "Building Draco for different architectures (arm64, armv7s, armv7)"
Hey there guys!

So I'll try to keep what I'm asking simple.

I am able to easily create the Draco project in XCode (v 9.1) from the given cmake command:
`cmake path/to/draco -G Xcode`

After I so this, I am also able to compile everything and build the static libraries that Draco outputs to the "Debug" folder. Specifically, it outputs 3 static libs: libdraco.a, libdracoenc.a, and libdracodec.a.

[2017-11-28 02:49] #309 closed

[2017-11-29 05:24] mekya commented on #308
Thank you very much for such a good explanation.

Yeah you are right it was generated from point cloud. We are testing different algorithm and get different compression ratios. I am goining to share these results from here so that it may give some extra info for developers.

Thank you again @ondys

[2017-11-29 22:32] JeremieA commented on #305
For a similar use-case (glTF JOINT attributes), I found that using GetAttributeFloatForAllPoints instead of GetAttributeIntForAllPoints followed by Math.round() to convert back to int can be a temporary fix for this issue (but proper integer attributes encoding from javascript would indeed be much better).

[2017-11-30 00:19] ZaMaZaN4iK opened #310 "Conan package"
Hello,
Do you know about [Conan](https://github.com/conan-io/conan)?
[Conan](http://docs.conan.io/en/latest/) is modern dependency manager for C++. And will be great if your library will be available via package manager for other developers.

[Here](https://github.com/bincrafters/conan-templates) you can find example, how you can create package for the library.

If you have any questions, just ask

[2017-11-30 05:00] a5507203 commented on #227
Hi, I found the
const faceRegex =
      /^f\s+(-?\d+)\/\/(-?\d+)\s+(-?\d+)\/\/(-?\d+)\s+(-?\d+)\/\/(-?\d+)(?:\s+(-?\d+)\/\/(-?\d+))?/;
has some error, my face format likes this
f 1/1/1 2/2/2 3/3/3
Thank you in advance.

[2017-11-30 18:12] ondys commented on #227
The .obj decoder posted above is just a simple tool we use for internal testing of hand-selected .obj files and it is not suitable to be used in production for generic .obj files. For your purposes you may consider using for example [three.js obj loader](https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/OBJLoader2.js) that can handle much wider variety of inputs

[2017-11-30 23:44] a5507203 commented on #227
@fanzhanggoogle
Hi why the
const result = vertexRegex.exec(line);
gives me null, the line looks like this
f 1/1/1 2/2/2 3/3/3
Thank you in advance.

[2017-12-01 07:22] spootsy opened #311 "Per-face attributes"
Hi,

I'm trying to create Draco meshes which have per-face attributes, but I can't find any good examples of how to do this.

The only example I can see is in the triangle_soup_mesh_builder class, which creates a unique set of positions for each face, and then assigns the same value to each of the points for the face attribute. In my use case, faces are sharing points, so this doesn't work, becaus

[2017-12-01 17:02] mekya commented on #308
I have tested some algorithms and here are the results. Do you have some specific recommendation? @ondys

File | Vertices | Faces | Size | Compressed Size | Ratio | Notes
-- | -- | -- | -- | -- | -- | --
test0.ply | 64920 | 124304 | 4.9MB | 958KB | 0.19 |  
ball_pivoting.ply | 34781 | 22511 | 849KB | 71KB | 0.08| test0.ply + poisson-disk sampling + ball pivoting
mesh_resampling.ply | 3678 | 6791 |

[2017-12-04 14:39] simena86 opened #312 "Possible memory leak in DRACOLoader.js"
I'm using DRACOLoader.js to load draco files (files holds meshes encoded from .obj files):

[code]

After having loaded the files, and closing my viewer I never seem to be able to release the memory used to load the files.

I've tried to NOT add the decoded geometry  to my THREE.js scene, just to try to rule out that the problem is with THREE.js. Memory is still not released.
I tried to `dispose`

[2017-12-04 16:59] ondys commented on #312
Was the `dracoLoader` still allocated at the point you were checking the memory?

As long as the Draco module inside the loader is allocated, it may still hold to the internal memory that was used during decoding

[2017-12-05 09:10] simena86 commented on #312
It probably was. I now tried to do the following to release memory:

[code]
without any luck, so maybe some other objects holds references to the allocated data, preventing GC from releasing it from memory? Any other way to de-allocate the Draco module explicitly?

Btw, I'm doing this in a React SPA, so I don't want to re-load the page.

[2017-12-05 18:29] simena86 commented on #312
Created a js fiddle here: https://jsfiddle.net/turbowhale/wbt9gvc7/73/

The mesh takes up 300+ MB, even after the mesh was removed from the scene.

[2017-12-06 00:03] ondys commented on #312
Thanks, I could reproduce the issue and I'm investigating it.

[2017-12-11 03:45] Frankling opened #313 "The difference of compression ratio via javascript encoder and the linux tools"
|-----------------|----------------|
 |         file           |       size          |
 |-----------------|----------------|
 |        original    |      11.2 MB     |
 |-----------------|----------------|
 |    js encoder    |       7.02 MB    |
 |-----------------|----------------|
 |    linux cmd tools  |     290 KB |
 |-----------------|----------------|
The difference of compression ratio via

[2017-12-11 03:55] spootsy commented on #311
Sorry for the bump, but are there any suggestions/advice on how to do per-face attributes?

I can try denormalizing all the points for each face if there's no other way to include a face-attribute association, but is reading the values back in then just like for any other point attribute?

[2017-12-11 04:04] #267 closed

[2017-12-11 05:04] #203 closed

[2017-12-11 05:37] #313 closed

[2017-12-11 18:37] ondys commented on #311
At this moment, the only way to do that is using the same approach as the TriangleSoupMeshBuilder. Note that it doesn't prevent you from sharing attribute values between points. In Draco, all attributes contain a map between Point indices and Attribute Value indices and multiple points can be mapped to the same attribute values. This will happen automatically when you use TrangleSoupMeshBuilder (i

[2017-12-12 01:29] jherico commented on #306
I've updated my PR with a corrected version of the `#if` conditional in options.h that should build with both GNU STL and libc++ libraries.  I've also rebased off of the current master, which I thought would eliminate the need for my change to add_cxx_preproc_definition due to the https://github.com/PersonifyInc/draco/commit/ad41bce3824b10604c3e095f0aad8eda451f6e65 changes, but it didn't seem to w

[2017-12-12 18:00] jherico commented on #306
Whoops, I didn't realize https://github.com/PersonifyInc/draco/commit/ad41bce3824b10604c3e095f0aad8eda451f6e65 wasn't in the primary repository.  I've cherry-picked it into my PR.

[2017-12-13 20:33] ondys commented on #312
This issue should be fixed in our latest release (1.2.4). You can also use a new function `THREE.DRACOLoader.releaseDecoderModule()` to automatically release all data associated with the Draco decoder module without manually deleting the DRACOLoader and other properties

[2017-12-13 20:33] ondys commented on #304
These issues should be fixed in the latest release (1.2.4)

[2017-12-13 20:33] #304 closed

[2017-12-13 20:34] ondys commented on #305
Support for integer attributes has been added to our Javascript encoder which should solve this issue

[2017-12-13 20:34] #305 closed

[2017-12-14 17:12] usefulslug opened #314 "Unity decoder missing uvs and normals"
The Unity decoder is missing decoding for uvs and normals. Normals are being calculated instead of decoded, which does not yield the same results as the normals may have been modified per vertex.

[2017-12-20 23:29] AnaRhisT94 opened #316 "Unity3D bunny.bytes on Resources folder doesn't load"
Hey there,
I imported the unity folder into a new project, places the bunny.drc file into Resources folder under Assets.
Renamed **bunny** to **bunny.bytes**

And I'm getting the **error**:
[code]

[2017-12-20 23:41] fanzhanggoogle commented on #316
Hi, could you try putting DracoMeshLoader.cs and DracoDecodingObject.cs under Assets/ instead of Assets/unity? Not sure if that's the issue, but worth a try.

[2017-12-20 23:41] fanzhanggoogle commented on #314
Hi, we are updating the loader to support texture coordinates and normals. Hopefully we can get it in by next week.

[2017-12-20 23:49] AnaRhisT94 commented on #316
I just did. same result.
[code]

[2017-12-20 23:53] FrankGalligan commented on #316
Hi,

Could you list the files in the Resources folder and paste the output?

On Wed, Dec 20, 2017 at 3:49 PM, AnaRhisT <notifications@github.com> wrote:

[2017-12-20 23:54] AnaRhisT94 commented on #316
Hey Frank, I just have the bunny.drc file in my Resources folder. When I changed it to bunny.bytes, it appears now as bunny.drc.bytes in the Explorer, and as bunny.drc at the Resources folder inside Unity Editor.

[2017-12-20 23:56] FrankGalligan commented on #316
Can you change the name to "bunny.bytes" in the explorer, which should
change the name to bunny inside Unity editor. Then try again?

On Wed, Dec 20, 2017 at 3:54 PM, AnaRhisT <notifications@github.com> wrote:

[2017-12-21 00:00] AnaRhisT94 commented on #316
I've changed "bunny" to "bunny.bytes" in the explorer, it's now "bunny.bytes.drc" there. It doesn't work.

[2017-12-21 00:03] AnaRhisT94 commented on #316
[bunny.zip](https://github.com/google/draco/files/1577403/bunny.zip)
This is the file I'm using.

[2017-12-21 00:11] FrankGalligan commented on #316
OK I just tried with your file and it worked for me.

For this to work the file should be named "bunny.bytes" in the Resources
folder in explorer window.

Can you delete the files in Resources folder from explorer? Then run:
cp bunny.drc <Link to your project>/Assets/Resources/bunny.bytes

Then try and render in Unity?

On Wed, Dec 20, 2017 at 4:03 PM, AnaRhisT <notifications@github.com> wrote:

[2017-12-21 00:18] AnaRhisT94 commented on #316
Deleted everything in the Resources folder.
CMD -> Run -> copy bunny.drc C:\Users\ii\Documents\Draco\Assets\Resources\bunny.bytes (Using Windows 10).
Error:
The system cannot find the file specified.

Can you upload your project as .unitypackage in a .zip file please?

[2017-12-21 00:29] fanzhanggoogle commented on #316
Hi, does the error "The system cannot find the file specified." comes from CMD or in Unity?

[2017-12-21 00:30] AnaRhisT94 commented on #316
CMD

בתאריך 21 בדצמ׳ 2017 02:29,‏ "FanZhang" <notifications@github.com> כתב:

[2017-12-21 00:33] fanzhanggoogle commented on #316
I guess you need to make sure both bunny.drc and C:\Users\ii\Documents\Draco\Assets\Resources\ exists where you do the copy command?

[2017-12-21 09:33] AnaRhisT94 commented on #316
I did that, still doesn't fix.

[2017-12-21 10:58] AnaRhisT94 commented on #316
I dragged and dropped 'unity' folder into my project. and didn't do anything except attaching the DracoDecodingObject.cs to an empty gameobject.

Then grabbed the bunny.drc from <My path>\draco-master\javascript\npm\draco3dgltf\draco.drc
into the Resources folder which is inside Assets. and after that I change draco to draco.bytes which is now draco.bytes.drc in the Resources folder. Resulted in a

[2017-12-21 11:07] AnaRhisT94 commented on #316
Update:
I renamed bunny.drc to bunny.drc.bytes and there's bunny.prefab appeared in my resources. and bunny asset. But it still doesn't load them in run-time.

[2017-12-21 11:17] AnaRhisT94 commented on #316
Update:
I tried again, in Resources folder, changed bunny.drc to bunny.bytes and it worked now.

[2017-12-21 11:26] #316 closed

[2017-12-21 13:14] AnaRhisT94 opened #317 "How do I convert .obj to .drc"
Hello,
From what I've read I understand I need to use cmake to do that.
I'm not quite sure how it's done(Convering .obj to .drc) . I'm using Windows 10.

[2017-12-21 16:50] FrankGalligan commented on #316
Awesome!

Sorry about the confusion. We are going to redo the readme to make it less
confusing.

Frank

On Thu, Dec 21, 2017 at 3:26 AM, AnaRhisT <notifications@github.com> wrote:

[2017-12-22 05:21] Frankling opened #318 "uv incorrect"
the original file has been uploaded below
[123.zip](https://github.com/google/draco/files/1581490/123.zip)
![qq 20171222131528](https://user-images.githubusercontent.com/5674121/34286346-f9469f12-e71a-11e7-9eb4-eea296615cff.jpg)
![qq 20171222131557](https://user-images.githubusercontent.com/5674121/34286347-f981c786-e71a-11e7-9281-7ce223a226a8.jpg)

[2017-12-22 05:29] #318 closed

[2017-12-22 22:21] FrankGalligan opened #319 "gcc may be failing"
See https://travis-ci.org/google/draco/jobs/320412925

[2017-12-26 18:21] AnaRhisT94 opened #322 "[Unity3D] Draco can't convert mesh with over 65k vertices"
I'm using Unity3D,
Is there a solution for this? How should I approach that if not?

[2017-12-26 18:53] fanzhanggoogle commented on #322
Hi, the DracoLoader should be able to handle meshes over 65k vertices. It will split the big mesh to multiple smaller meshes. Could you post your error or any information you got here?

[2017-12-27 01:19] Sirokujira commented on #322
Looking at the Release Note, the correspondence is from Unity 2017.3.
https://blogs.unity3d.com/en/2017/12/19/unity-2017-3-is-here/

If it is done otherwise, it seems there is a corresponding way to downsample the point cloud.
https://www.microsoft.com/en-us/kinectforwindows/develop/downloads-docs.aspx
※ That things seem to be in the official sample code

[2017-12-27 05:53] pps83 opened #323 "Make it possible for API users to determine which Draco features are enabled."
For more details see [this comment.](https://github.com/google/draco/commit/a7c0d80a71ce08f51d2e6b6aabf30778d76e4c9a#diff-4da73ff69f68c7e79d812c7615d8dfbaR98)

In short, all the defines that control code inclusion in public darco headers must be set in a config header file, so that when these darco headers are used from some other project the other project would have the same defines as the darco

[2017-12-27 10:15] Zephyrox commented on #298
Decode the draco file with the API, using draco::Decoder class. The create vertices and indices buffers from the extracted Meshes.

[2017-12-27 13:40] mekya commented on #298
Thank you for the answer,

In which platform or surface we can show the mesh, do you know any sample app for that?

[2017-12-27 13:47] Zephyrox commented on #298
Check any opengl tutorial on native android, example:
http://www.learnopengles.com/calling-opengl-from-android-using-the-ndk/
After you have a basic rendering working you should be able to create vertices and indices buffers from the draco Mesh object.

[2017-12-27 16:50] mEscolar opened #325 "Error C2666 on compile"
Good afternoon,

I have been trying to compile 1.2.4 release for a couple of days and when I try to compile I have errors c2666 'std :: fpos <_Mbstatet > :: operator == ': inside obj_decoder.obj.

My operating system is windows 7 x64, with visual studio 15.5.2 2017 and cmake 3.10.1.

After verifying my installation of visual studio, cmake and the project, just in case it was my mistake, I decided

[2017-12-27 17:17] ondys commented on #325
We just merged this [PR](https://github.com/google/draco/pull/321) that should fix your problem.

[2017-12-27 20:34] Zephyrox commented on #325
I solved this by creating another variable for the file size, because the type should be streamoff and not streampos which auto file_size = file.tellg() will give you.
`file_size = file.tellg() - file_size;`
is changed to:
`auto real_file_size = file.tellg() - file_size;`
remember to change to real_file_size on the lines a bit below.

[2017-12-28 05:22] mekya commented on #298
Yeah doing something like that. Also playing ply files in order.

Looking for some easy tools to do that

thank you for feedbacks.

![screenshot_2017-12-28-08-14-11](https://user-images.githubusercontent.com/3456251/34400924-63d72ff0-eba7-11e7-980f-fbc34a3221c2.png)

[2018-01-03 10:48] simena86 commented on #312
@ondys: I tried DRACOLoader from version 1.2.4:
https://jsfiddle.net/turbowhale/wbt9gvc7/90/

Even after calling `THREE.DRACOLoader.releaseDecoderModule()` DRACOLoader still seems to keep 300+ MB of memory allocated. Am I doing something wrong here? In our real life application, DRACOLoader can easily accumulate 2GB+ of memory, causing the browser to crash. Some help is much appreciated :)

[2018-01-05 14:46] amelierosser opened #326 "Vertex count varies"
Hello,

I'm using the draco encoder to convert 5 `.obj` models to `.drc`. All 5 obj models have the same vertex count. When I load the models via the threejs draco loader I've noticed the vertex count changes between the models. Since i'm blending between objects I need persistant vertex count.

Is there any encoder setting that allows this?

[2018-01-05 16:34] mhsaar commented on #326
Hi, try sequential encoding, best Michael

On Fri, Jan 5, 2018 at 6:46 AM, Amelie Rosser <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-01-09 17:55] ondys commented on #312
@simena86 I couldn't reproduce the issue on my end (using Chrome 63 on Ubuntu). What browser/OS are you using?

[2018-01-09 17:56] #325 closed

[2018-01-10 02:40] pumpkinp commented on #317
when you cmake and make ,that while create a file name draco_encoder,you can
`./draco_encoder -i demo.obj -o out.drc` then create drc file

[2018-01-10 03:00] baozeyang2016 opened #327 "In the DRACOLoader.js file, how can i assign the value of posAttributeData to geometryBuffer.vertices one time"
not use for many times, in order to save time

[2018-01-10 03:26] pumpkinp commented on #89
@ondys where map  between sub-object ids and the corresponding sub object names?

[2018-01-10 18:42] ondys commented on #327
I'm not sure if I understand the question. Values from attributeData are copied to geometryBuffer using GetValue() method, one by one. What problem are you trying to solve?

[2018-01-10 18:46] hobu opened #328 "-DBUILD_SHARED_LIBS on MSVC fails"
Configuring with ``-DBUILD_SHARED_LIBS=ON`` fails with MSVC 2015:

[code]
[code]

[2018-01-10 19:10] ondys commented on #89
@pumpkindev In c++ you can see an example in `ObjEncoder::GetSubObjects() ` method (in `obj_encoder.cc`).
For javascript, it seems we miss some API that is needed to accomplish this. I'll make the necessary changes and try to push into into our next update.

[2018-01-10 23:09] FrankGalligan commented on #328
Reproduced with:
cmake ../ -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON

Works with:
cmake ../ -G "Visual Studio 15 2017" -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON
cmake ../ -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release

[2018-01-11 01:26] baozeyang2016 commented on #327
First of all, very thanks your reply, my question is the time that Values from attributeData are copied to geometryBuffer using GetValue() method one by one is too large, i want to decrease the time, if there is a function  realize this？please help @ondys

[2018-01-11 15:56] jeremie-lg opened #329 "duplicate points in pointcloud not supported"
Hi,
I have an error when decoding point cloud with duplicate points ("Failed to decode point attributes")

The first thing is there's no warning when encoding point cloud with duplicate points. The encoding proccess normally succeeds.

Is not supporting duplicate points can be considered as a draco specification or as an issue ?

Regards,
jeremie

[2018-01-11 16:10] mhsaar commented on #329
Hi Jeremie,

same question, what are your encoding options, what's the system that you
are on, and can you provide the input ?

There should be no issue with duplicates.

best,
 Michael

On Thu, Jan 11, 2018 at 7:57 AM, jeremie lg <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-01-11 16:26] jeremie-lg commented on #329
Hi michael,

i'm using the default compression option, the same command line as provided in your example for encoding pointcloud (Compression level = 7, Positions: Quantization = 14 bits), and my operating system is windows 7 x64.

The input pointcloud contains 26M points with 3K duplicates. It also possible to provide you the input.

--
jérémie

[2018-01-11 16:57] mhsaar commented on #329
I think we'll need the input. Can you provide a download link? You can also
send the link to me directly. The input that was provided to the encoder as
well as the drc file.

best,
 Michael

On Thu, Jan 11, 2018 at 8:26 AM, jeremie lg <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-01-11 18:28] jeremie-lg commented on #329
Hi again,

I'm confused, it seems not to be an issue with duplicates. I think the issue comes from color attribute with 3 components. My ply file encodes color as RGB. I have forced color attribute to 4 coords
`builder.AddAttribute(draco::GeometryAttribute::COLOR, 4, draco::DT_UINT8);`
and filled the alpha value with 255.

Now it works perfectly fine.
Sorry for my bad analysis.

Best regards,
jere

[2018-01-11 20:00] ondys commented on #327
No there is currently no other way to copy the data. Are you sure it is the bottleneck though? Based on our internal measurements this was usually low on the list compared to other parts of the code.

[2018-01-11 22:40] mhsaar commented on #329
Thanks. If you think this is an issue with the ply reader I guess it is
best to close this and open another issue. Thanks Michael

On Thu, Jan 11, 2018 at 10:28 AM, jeremie lg <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-01-12 00:14] ondys commented on #329
@jeremie-lg It was actually an issue with our encoder. It will be fixed in the next update (either tomorrow or the next week).

[2018-01-12 01:52] baozeyang2016 commented on #327
My application scene is following: browser and version is firefox 57.0.4(64bit), computer system is win10(64bit), ply data num 29k vertex 54k face. the part of indices decoding is
for (let i = 0; i < numFaces; ++i)
          {
                  wrapper.GetFaceFromMesh(dracoGeometry, i, ia);
                  index = i * 3;
                  geometryBuffer.indices[index] = ia.GetValue(0);

[2018-01-12 01:59] baozeyang2016 commented on #327
My application scene is following: browser and version is firefox 57.0.4(64bit), computer system is win10(64bit), ply data num 29k vertex 54k face. the part of indices decoding is
for (let i = 0; i < numFaces; ++i)
{
wrapper.GetFaceFromMesh(dracoGeometry, i, ia);
index = i * 3;
geometryBuffer.indices[index] = ia.GetValue(0);
geometryBuffer.indices[index + 1] = ia.GetValue(1);
geometryBuffer.indice

[2018-01-12 08:41] baozeyang2016 commented on #327
There is another problem i want to ask for,  Whether the number of faces is larger than the number of vertices It means that the ply model is redundant

[2018-01-12 09:28] simena86 commented on #312
@ondys sorry this was probably just a false alaram.

I'm running Ubuntu 16.04 and Chrome 62

If I do the following:

1. Open dev tools
2. load mesh
3. release mesh
4. Record memory from dev tools

then 300+ MB is still allocated

However, if I skip step 1. then, the recording yields 60MB, and everything is fine, so this was probably just a problem with how chrome does GC when dev tools are enabled

[2018-01-12 10:40] simena86 commented on #312
Hmm, running https://jsfiddle.net/turbowhale/wbt9gvc7/91/ with firefox 56.0 the memory does not seem to be cleared after calling `releaseDecoderModule()`

[2018-01-12 22:55] ondys commented on #329
Fixed in the latest release

[2018-01-12 22:55] #329 closed

[2018-01-12 23:52] zynga-jpetersen opened #330 "draco_encoder_nodejs.js didnt get updated during 1.2.5 build process."
It doesnt look like draco_encoder_nodejs.js got updated during these changes, even though draco_encoder.js did get updated (and it looks like the c++ for encoding it got updated as well).

From reading draco_encoder_nodejs.js it doesnt look like it uses draco_encoder.js, so it looks like it needs to get updated separately?

Thanks and great project.

[2018-01-15 06:36] baozeyang2016 commented on #327
how much is the your test time about this part ? can you tell me? please...

[2018-01-15 13:11] jeremie-lg commented on #329
cool thanks !

[2018-01-17 17:34] ondys commented on #330
nodejs files have been updated. Let us know if you still run into any problems.

[2018-01-17 17:34] #330 closed

[2018-01-17 21:46] ondys commented on #242
support for integer attributes has been added in 1.2.4

[2018-01-17 21:46] #242 closed

[2018-01-17 21:46] #220 closed

[2018-01-17 23:40] #192 closed

[2018-01-23 18:16] FrankGalligan opened #334 "potential vulnerability in nokogiri"
I think this is a dependency in spec generation.

[2018-01-23 19:03] ondys commented on #334
I thought I fixed it with https://github.com/google/draco/pull/333 but maybe not

[2018-01-26 18:27] zynga-jpetersen commented on #46
Are there any known technical barriers to this being implemented?

From reading how the dracomodule is used within the dracoloader, there doesnt look like there is anything that would prevent implementing it in the ctm code pattern.

If no one knows of any reason it wouldnt work, I'm probably going to take a crack at it.

Since I dont think we want to import Three to the worker just to get the Buf

[2018-01-27 00:00] zellski commented on #46
Strong +1 for this. If nobody else had done it in a month or so, we'd planned to tackle it ourselves.

So, @zynga-jpetersen, go forth and do battle!

[2018-01-29 22:13] tomfinegan commented on #323
This is in progress: Should be available for next release. Note: name will be draco_features.h.

[2018-01-30 09:42] CrazyPopLin opened #337 "can't use find_package to find draco"
Hi, I am in ubuntu 14.04, download draco:
`$ cd ~/my_workspace/draco`
`$ git clone https://github.com/google/draco.git `

Build and install draco successfully with commands:
`$ cd ~/my_workspace/draco`
`$ mkdir build && mkdir install`
`$ cmake -D CMAKE_BUILD_TYPE=release -D CMAKE_INSTALL_PREFIX=~/my_workspace/draco/install -D CMAKE_PREFIX_PATH=~/my_workspace/draco/install ..`
`$ make && make insta

[2018-01-30 17:47] tomfinegan commented on #337
Seems that you need to set CMAKE_MODULE_PATH in your project so CMake knows where to look-- how else would CMake know about ~/my_workspace/draco/install ?

[2018-01-31 07:34] daybreak145 opened #338 "Does Draco support input obj and png file (for uv)?"
I have an obj file and its corresponding png file, does Draco support those two to be input at the same time and get one single compressed drc file?

Thanks

[2018-02-02 07:16] zhongmin2015 opened #339 "Can i ues draco.js Compress .obj file ?"

[2018-02-02 08:42] zhongmin2015 commented on #227
Hi，i will do this yet，can you tell me your email？so we can discuss together。

[2018-02-03 09:54] CrazyPopLin commented on #337
hi @tomfinegan , I tried your way, but dose work. thanks

[2018-02-06 22:55] ondys commented on #338
no. Draco compresses only the geometry (including texture coordinates). The texture itself needs to be handled separately

[2018-02-06 22:55] #338 closed

[2018-02-06 23:00] ondys commented on #339
we do provide a javascript version of draco encoder but it currently does not provide any capabilities related to loading third party file formats such as .obj. I.e., you would have to use your own .obj parsing library and convert the output to a draco mesh that can be handled by the javascript encoder API.

On the other hand, for C++,  we have a build-in obj decoder that can convert .obj files in

[2018-02-06 23:00] #339 closed

[2018-02-07 16:54] zynga-jpetersen commented on #46
Update on this, I tried the simplified approach, where I import the three js and draco into the worker. That both significantly increased the load times (I'm guessing from both sending data back and forth, but also all that code) and didnt result in good data since of course the THREE.Geometry wasnt transferable (I didnt necessarily expect this to work, just for a test). So as a second attempt at

[2018-02-08 18:13] simena86 commented on #312
@ondys any plans for this in the near future? We're still having problems with large memory leaks causing crashes in our webapp.

[2018-02-09 16:00] syed-usman opened #343 "Expose separate indices to JavaScript decoder"
Question:
When decoding, is there a flag we can provide to DRACO to make it output an indexed geometry instead of a non-indexed Geometry?

Does Draco perform any conversions between indexed/ non-indexed geometry when processing(both while encoding and decoding) the geometry data?

I have created an Angular5 service to compress/uncompress/export a THREE.Group using Draco. The problem is that when I

[2018-02-12 18:14] ondys commented on #312
I've been looking into it, but unfortunately I haven't been able to find a solution for the problem yet (on Firefox, it seems to work fine with Chrome).

Note that the memory doesn't really leak as the it would get re-used if you decode more Draco models. The issue is that Firefox doesn't seem to garbage collect it (at least not immediately, I found out that the memory gets freed if I leave the wi

[2018-02-12 18:53] hccampos commented on #312
Same here. The browser leaves the memory allocated for a while just in case you need it again for something else. Eventually it clears things up.

The crashes should only occur on allocation if the browser detects too much memory is being allocated too quickly. Mobile browers are especially sensitive to that.

The ideal solution is to load models in chunks as needed rather than loading very large

[2018-02-12 23:56] ondys commented on #343
Draco always uses indexed geometry (both internally and as an output). I.e., the output geometry attributes are indexed by the indices defined on mesh faces (`GetFaceFromMesh` function).

One difference between what Draco and .obj (at least in Javascript) is that .obj uses multiple indices for each vertex (one for positions, another for normals and texture coordinates) while Draco outputs only one

[2018-02-13 16:15] Aeros opened #348 "Normals problem"
Hi,
I have been testing draco since a month, it's a good product, we like speed and compression size. I use DracoLoader for ThreeJs.

I still have one problem.
I'm exporting obj file without normals to keep small file size for uncompression and decoding speed. Almost all meshes are rendered correctly, the normals are well computed.
But I have problem with some meshes, as you can see in the screens

[2018-02-14 22:51] donmccurdy opened #349 "Released decoder module cannot be recreated."
Working on implementing KHR_draco_mesh_compression in [my viewer](https://gltf-viewer.donmccurdy.com/), and ran into this issue: I'd like to release allocated memory after loading a model, so I call `THREE.DRACOLoader.releaseDecoderModule();`.  Having done that, future attempts to use THREE.DRACOLoader will fail:

[code]

Live demo: https://three-gltf-viewer-qgknamimbz.now.sh/

Here is the [diff f

[2018-02-17 09:45] jk601220272 opened #350 "How to generate draco_decoder. Exe?"
How to generate draco_decoder. Exe?

[2018-02-18 19:49] FrankGalligan commented on #350
I'm assuming you are on Windows.

Follow these directions:
https://github.com/google/draco#windows

This will generate a Microsoft Visual Studio project file. Then you need to open the project file in visual studio and build the draco_decoder target. This will create draco_decoder.exe.

[2018-02-19 03:42] Sirokujira opened #351 "When creating as a library, PIC is not set as a compiler option."
Reason for setting
     Because the time until deployment on memory is slower for non-PIC.

What to check
    Did not you intentionally set up PIC.

[2018-02-19 15:19] Jiloc opened #352 "draco_encoder crashes with -qp 31"
Draco Version: 1.25
Platform: Windows 10

When I try to use `./draco_encoder.exe -qp 31 -i whatever.obj` the encoder crashes without any info

But if I use `./draco_encoder.exe -cl 10 -qp 31 -i whatever.obj` it returns a segmentation fault (with a `cl < 10` it just crashes)

using a `qp < 31` everyting works just fine

[2018-02-19 15:38] Jiloc opened #353 "configuration for lossless compression"
Can draco achieve a lossless compression for .obj/.stl?Is there a suggested configuration? So far I've got the best result from -qp 30 -cl 0 (-qp 31 doesn't work as I pointed out in #352), but there decompressed mesh is not equal yet.

[2018-02-20 08:41] nomercy0 opened #354 "Unable to find plugin library when completing build in android studio"
I am working on unity windows .I want to include google draco in unity.

I am not able to find plugin library after building the  project in android studio ,I thing there is issue on CMakeLists.txt  but actually there no compilation error also.
[code]
[code]
Unable to find these path/to/your/project/build/intermediates/cmake/debug(or release)/obj/your_platform/libdracodec_unity.so in android proje

[2018-02-20 18:19] nomercy0 commented on #227
hi @fanzhanggoogle  faceRegex is not working ,it is returning null

[2018-02-25 03:11] drawmindmap commented on #46
Check out Babylon.js implements:
[babylon.dracoCompression.ts](url=https://github.com/BabylonJS/Babylon.js/blob/master/src/Mesh/Compression/babylon.dracoCompression.ts)
[KHR_draco_mesh_compression.ts](url=https://github.com/BabylonJS/Babylon.js/blob/master/loaders/src/glTF/2.0/Extensions/KHR_draco_mesh_compression.ts)

And you can even use draco_decoder.wasm in Web Worker.

[2018-02-25 05:33] pps83 opened #355 "Build draco for iOS"
No instructions added even though something ios and cmake was added recently.

How should this be done, do you have anything that's not cmake?

[2018-02-28 15:31] stuarteberg opened #356 "Segfault on strange input"
The draco encoder segfaults when processing the following mesh file.  As you can see, the mesh is clearly strange, (all vertexes are identical), but the OBJ file is not malformed per se.  Even if such meshes cannot be encoded, it would be nice to see an error message in such cases.  (It might spare bozos like me from some debugging effort.)

The command used was:

[code]

I'm using draco 1.0.1.  S

[2018-02-28 18:37] ondys commented on #352
thanks for the report, I've added the issue to our internal bug-tracker

[2018-02-28 18:43] ondys commented on #348
The image on the left looks like it is averaging normals across all faces which creates the undesired effect. What you probably want is to specify some crease angle that will average normals only from relatively flat areas.

Note that if the input encoded model does not have normals, Draco doesn't generate them either. If that's the case, the normals are most likely generated later on by three.js

[2018-02-28 18:46] ondys commented on #353
You can set -qp to 0 in which case the quantization will be disabled. The input values will be then encoded losslessly but the compression ratio will be probably rather bad as Draco doesn't currently have a specialized encoder for floating point values.

[2018-03-01 06:59] alter-sachin opened #357 "Unity decompression fails with complete application crash"
Hello .
While using the dracoDecodingObject.cs (found in unity folder of the draco codebase) in Unity3D to decompress the "bunny.drc" file unity crashes completely .
I am using the javascript implementation to compress my meshes on the server .
Then using subsequent compressed file and copying it to the resources folder in Unity . I use the dracoDecodingObject.cs.

This is the error log file creat

[2018-03-01 15:24] alter-sachin commented on #357
I was able to resolve this by specifying the format of the 3D mesh .

Thankyou for draco ! 🗡

[2018-03-01 18:47] ondys commented on #348
Draco does not compute normals. If the input model that you compress contains normals, Draco is going to preserve them. If the input model has no normals, the decoded model will have no normals as well. In our example viewer we use THREE.js function |computeVertexNormals()| that is called on the decoded geometry.. there is a chance you may be using it in your code as well.

[2018-03-01 21:03] ondys commented on #356
thanks for the report. This will be fixed in the next release. Note that the encoding will fail in this case however, mostly because our main connectivity compression algorithm works only on non-degenerate faces (all degenerate faces are ignored). That being said, you should be able to encode this model using `-cl 0` which uses a different connectivity encoding method.

[2018-03-01 22:14] stuarteberg commented on #356
Great, thanks for the update.  I assume that means this issue can be closed, but I'll leave that to you.

[2018-03-02 17:23] DrJohnDale commented on #343
Hello, I am working on this issue with Syed.

I am not sure exactly what you mean by multiple indices or one index per attribute.  By one index per attribute do you mean that in the faces section a vertex will have the same numbers for the v/vn/vt. E.G. Draco will give out after decompression 1/1/1 but never 1/2/3? This would also imply that a vertex index is never used more than once, i.e. each f

[2018-03-06 13:26] RomainMilbert commented on #314
Is there anything new with this issue? Unity crashes whenever I try to import a mesh with texcoords in it (OBJ format). Removing them works fine though.

[2018-03-06 21:27] ondys commented on #314
support for texture coordinates and normals has been added in the 1.2.5 release. Can you send us a test model with steps to reproduce your issue? Thanks

[2018-03-06 21:42] ondys commented on #343
our javascript decoder always provides the same index for all attributes on any given face corner. That can be interpreted in the obj format as `f a/a/a b/b/b c/c/c`  (as explained above, this is the format used by GPU APIs or three.js). Note that that does not imply that a vertex index is never used more than once. If multiple face corners connected to a single vertex share the same attribute val

[2018-03-07 09:11] RomainMilbert commented on #314
[Encoded Bunny](https://drive.google.com/file/d/1eav4UodHZfGsB1RiOogyUlZ_ZbtsHYVk/view?usp=sharing) on Windows with the command `draco_encoder.exe -i bunny.obj -o bunny.drc -cl 10 --metadata` (this fails with other compression levels and without metadata as well anyway).

Draco has been built statically in Release/x64 with the last version available here on GitHub.

Basic example code:
[code]
Does

[2018-03-07 16:44] Aeros commented on #348
Thank you.
The problem seems to come from threejs smooth normals computation. I assume that it implements something similar to this: https://stackoverflow.com/a/45496726

[2018-03-09 01:37] chenyangqu commented on #197
Currently Draco does not support groups in an obj file. This causes only one material be loaded(if any). ```javascript
    var mtlLoader = new THREE.MTLLoader();
    mtlLoader.setPath( 'models/' );
			mtlLoader.load( 'texture.mtl',
				function( materials ) {
					materials.preload();
						let material;
						material = materials.getAsArray()[1];
						dracoLoader.setPath( 'models/' );
						drac

[2018-03-09 01:41] chenyangqu commented on #197
Currently Draco does not support groups in an obj file. This causes only one material be loaded(if any). `
    var mtlLoader = new THREE.MTLLoader();
    mtlLoader.setPath( 'models/' );
    mtlLoader.load( 'texture.mtl',
    function( materials ) {
    materials.preload();
    let material;
						material = materials.getAsArray()[1];
						dracoLoader.setPath( 'models/' );
						dracoLoader.load(

[2018-03-14 11:49] BerndGe opened #358 "Handling of invalid values in encoding"
Hi,

I am using C++ code as below for adding a custom attribute to a Draco file. To get started,  I added the code below to PlyDecoder::DecodeVertexData (after the handling of normals) in order to be able to just add the new attribute to the PLY file and re-use the existing code for PLY decoding.

The debug output in this code prints the correct values. However, the results which are provided by D

[2018-03-14 16:51] hobu commented on #328
Does this mean that Draco is MSVC 2017+ only?

[2018-03-14 17:00] tomfinegan commented on #328
That's a warning. Have you added -DENABLE_WERROR=1 to your CMake command line, or somehow added /WX to your cl.exe command lines?

[2018-03-14 17:52] hobu commented on #328
Yes, there were a number of warnings. That's ok
The error that matters to me is the inability of 2015 to make the library.

[2018-03-14 18:43] hobu commented on #328
Sorry, I forgot to mention that it builds just fine for me on both 2017 and 2015 with `-DBUILD_SHARED_LIBS=OFF`

[2018-03-14 19:05] tomfinegan commented on #328
Can you run the nmake build in verbose mode? This should work:
$ nmake VERBOSE=1

Is any additional information provided w/VERBOSE enabled?

Are any targets working? Which target is NMake building when the error is reported?

[2018-03-14 19:13] hobu commented on #328
[code]

[2018-03-15 01:37] nbcong opened #359 "How to get mapping new faces onto old faces"
Hi,

Firstly; thanks for creating the very helpful and powerful draco lib. The lib is very important for our mesh data transportation phase.

Secondly; I'm using c++ and sticking closely to MeshEdgeBreakerEncoder. I would like to know that after finishing mesh compression; is there any way to get mapping new faces onto the origin mesh faces immediately?

Any suggestions would be great to me. Thank

[2018-03-16 02:03] stuarteberg commented on #356
Question for clarification:

In the next release, will an error be returned, or will the degenerate face simply be discarded?  I guess I'd prefer it to be silently discarded.

[2018-03-17 00:07] ondys commented on #358
Thanks for the crash report. Ideally Draco should not crash even for "invalid" input so we will fix that.

That being said for your case, the crash most likely happens because you are quantizing the generic attribute. If the attribute is as floating point (quantization disabled) then I believe it would work correctly, but your compression ratio may suffer (Draco currently doesn't have a good suppo

[2018-03-17 00:09] ondys commented on #359
The mapping is lost (which allows the method to achieve better compression). You could theoretically store the mapping in a separate integer attribute. For every face, all corners would be always mapped to the same value that would correspond to the face index in the input mesh.

[2018-03-17 00:12] ondys commented on #356
Degenerate faces are discarded even in the current version, but in case there are no valid faces, the encoding will crash in the current version and fail in the next version

The other option would be to send an empty mesh but I'm not sure how useful would that be.

[2018-03-19 12:42] FarhadG commented on #326
How do do `sequential encoding`, @mhsaar?

[2018-03-19 13:15] FarhadG commented on #353
After setting `qp` to `0`, I ran into an issue when trying to render it in `THREE`. I don't get this error when I set the value to anything other than `0`.
![screen shot 2018-03-19 at 2 14 32 pm](https://user-images.githubusercontent.com/1647596/37597549-08ebf7b0-2b80-11e8-850a-9b29da7d4413.png)

[2018-03-19 14:08] mhsaar commented on #326
Either chose lowest compression level, or sequential encoding when using
the expert_encoder.

On Mon, Mar 19, 2018 at 5:42 AM, Farhad Ghayour <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-03-19 15:36] FarhadG commented on #326
Thanks for the quick response, @mhsaar. I assume by `compression`, you're referring to quantization. When I set the `qp` to `0` to disable quantization, the model generated, but could not render it in THREE.js. You can see the `error` outlined here: https://github.com/google/draco/issues/353

How do I se the `expert_encoder`? Sorry, but I couldn't find anything about this in the documentation.

Th

[2018-03-19 16:46] mhsaar commented on #326
Hi, no the qp is the quantization bits used for the coordinates, you want
to set that to a level that is tolerable for your application.
I have referring to the compression level its a separate option.
You may want to look at the documentation of the expert encoder.

or simply at draco_encoder --help

On Mon, Mar 19, 2018 at 8:36 AM, Farhad Ghayour <notifications@github.com>
wrote:

--
-----------

[2018-03-19 20:54] FarhadG commented on #326
I must be missing something then, @mhsaar. Because that was the very thing I did and I don't see anything outlined here about the `expert_encoder`:

[code]

[2018-03-20 16:15] ondys commented on #326
to set compression level to 0, use `-cl 0` argument

[2018-03-20 17:31] ondys commented on #353
thanks for the report. I was able to reproduce the issue and we will investigate it. It seems to be isolated to Javascript & wasm decoding (c++ decoder seems to work fine).

[2018-03-21 21:54] zynga-jpetersen commented on #46
I should have updated this sooner, my apologies.

I've been moved onto another project so I haven't had time to return to my refactoring.

[2018-03-21 22:04] ataber opened #360 "Encoder fails for `double` or `float64` ply vertex properties"
Hello,

I am trying to compress the following PLY file with the CLI encoder on latest master:
[code]

but I get the following error: `Failed loading the input mesh: Unknown error..`

When I change the `x`, `y`, and `z` attributes to be `float` or `float32`, the encoding succeeds, but it fails when they are either `float64` or `double`. Am I missing something obvious? The encoder does support doubl

[2018-03-21 22:08] donmccurdy commented on #46
FYI, I've cross-filed this issue on three.js: https://github.com/mrdoob/three.js/issues/13648. There is some infrastructure in three.js's `examples/js/*` to support workers. But currently I don't think anyone is actively working on adding worker support to THREE.DRACOLoader.

[2018-03-21 22:15] ataber commented on #360
Indeed, it looks like [position values must be float32 for the CLI](https://github.com/google/draco/blob/master/src/draco/io/ply_decoder.cc#L136).

[2018-03-22 16:41] #360 closed

[2018-03-22 21:07] ataber commented on #360
I made some changes to [my fork](https://github.com/intact-solutions/draco) to support doubles (for posterity looking at this issue). Does your comment about float64 mean that Draco basically truncates internally to 32 bits and then quantizes/compresses?

[2018-03-22 23:25] ondys commented on #360
No, if you supply float64 (DT_FLOAT64)  attribute to Draco, it will preserve the values as 64 bit floats. What I was trying to say is that you should truncate it to DT_FLOAT32 before compressing it with Draco, because quantization wouldn't work for DT_FLOAT64 and the compression would be very bad.

[2018-03-23 13:02] supermoos commented on #348
@Aeros did you find a way to solve this? Encode normals to file before draco compression? Or is there a way to get the geometery.computeVertexNormals() from three.js to work with the draco compressed file similar to a non-draco compressed file?

[2018-03-23 16:38] ataber commented on #360
Gotcha, thanks for the tip!

[2018-03-27 09:24] aiyouBug opened #362 "I met a trouble"
1. I can't find the.Drc file of.Fbx in the sample. Look at Readme in support of.Fbx.But I can't get the.Drc file through draco_encoder.exe
2. I can use a file in.Obj format, but I don't know how to merge the.Mtl file with the format of the read.Obj file. At present, I can only be naive to cut the model according to the array average.

[2018-03-29 05:13] BerndGe commented on #358
Thanks. Indeed that seems to work, but the compression ratio is not good.

[2018-03-29 05:13] #358 closed

[2018-03-29 05:34] BerndGe opened #363 "Is the order of vertices in the Draco output reproducible?"
Hi all,

the question is: can the order of vertices in the output change if I:
* add/remove a generic attribute
* change the compression level
?

Reason for the question: As the Draco library doesn't provide a way to find out the mapping from original vertices to encoded vertices, I envision the following (as a workaround, really):
* Encode a mesh (i. e. geometrical information) with an additional

[2018-03-30 21:44] ondys commented on #362
1. draco_encoder does not currently support .fbx file format. I checked our main README.me and we do not mention .fbx at all there.

2. .mtl file needs to be send separately. draco_encoder can encode material indices and names when used with the `--metadata` flag but it does not encode the material definitions.

[2018-03-30 21:59] ondys commented on #363
In general, Draco does not provide any guarantees in terms of vertex or face order

That being said, the face order should be consistent when the compression level remains the same (at least for compression level >= 5).  Adding additional attributes may affect mapping between points and attribute values (adding new attributes often introduces new points unless the attributes don't have any attribu

[2018-04-02 22:42] FarhadG opened #364 "Do we have any working examples of rendering a .drc file with materials with THREE.js?"
I've looked and haven't found a working example of rendering a .drc model with materials with THREE.js. Ive used the the `mtl-loader` and `drc-loader` to load my model, however, associating the material with the model has been a challenge. For example:

[code]

When I receive the `model` (i.e. `BufferGeometry`) and `material` (i.e. THREE.MTLLoader.MaterialCreator) which comprises `4` materials, I

[2018-04-03 02:27] zwcloud commented on #168
This error message is a little misleading: create a build directory outside the draco source directory and the error still occurs.  It would be better to say *creating a build directory as a subdirectory of Draco root*.

[2018-04-03 02:48] zwcloud opened #365 "encoder error: Failed loading the input mesh: Failed to parse vertex indices."
L20.obj: [L20.zip](https://github.com/google/draco/files/1870439/L20.zip)

This obj file is generated by osgconv tool from [OpenSceneGraph](http://www.openscenegraph.com/).

__Environment:__
* Win10 x64, VS2017, Debug

* draco_version.cc
[code]

[2018-04-03 03:04] zwcloud commented on #365
I just debugged the encoder. And it turned out that the app runs into `obj_decoder.DecodeFromFile` which  `return DecodeFromFile(file_name, static_cast<PointCloud *>(out_mesh));`.

**https://github.com/google/draco/blob/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27/src/draco/io/obj_decoder.cc#L48**

The obj file is NOT a point cloud. Is that the cause of the error?

[2018-04-03 07:00] zwcloud opened #366 "How to save encoded data into a drc file with nodejs?"
For example,

[code]

Then how can I save the `encodedData` to a drc file?

[2018-04-03 07:58] zwcloud commented on #366
I tried the following code, but the saved file cannot be shown in the example (/javascript/example/webgl_loader_draco.html). I'm still trying.

[code]

[2018-04-03 08:38] zwcloud commented on #364
Yes. https://github.com/google/draco/blob/master/javascript/example/webgl_loader_draco_advanced.html

[2018-04-03 09:35] zwcloud commented on #366
Also tried `/javascript/example/webgl_loader_draco_advanced.html`, but it throw an error:
![image](https://user-images.githubusercontent.com/6965758/38241547-19d0332a-3765-11e8-868d-684f31927b21.png)

https://github.com/google/draco/blob/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27/javascript/example/DRACOLoader.js#L179

saved my.drc:
[my.zip](https://github.com/google/draco/files/1870951/my.zip)

[2018-04-03 16:22] bghgary opened #367 "Draco WebAssembly decoder fails with Edge browser"
https://gltf-viewer-experimental.donmccurdy.com/#model=https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Buggy/glTF-Draco/Buggy.gltf

Results in nothing being loaded and this in the log:

[2018-04-03 16:40] FarhadG commented on #364
Thanks for the link, @zwcloud, however, none of these examples (`basic` or `advanced`) don't show how to apply the `.mtl` textures as I've outlined above. I have a large model that I load via `Draco` and when I get the set of materials after using the `MTLLoader`, I cannot seem to locate how to apply these materials to the model.

[2018-04-03 20:48] bghgary commented on #367
Edge version 41.16299.248.0 from Windows 10 Build 1709 has this issue, but it looks like Windows 10 Insider Preview Build 17133 (RS4) does not have this issue. Sorry for the spam.

[2018-04-03 20:48] #367 closed

[2018-04-04 17:09] FarhadG commented on #103
I'm running into the very same issue (https://github.com/google/draco/issues/364). It would be much appreciated if we have some working example of loading a `.drc` file with materials using the `MTLLoader`.

[2018-04-04 17:13] FarhadG commented on #364
I've got the following to work where I reference a particular `material` from the `materials`, however, it's only a single texture and it's obviously not referenced properly.

[code]

[2018-04-04 17:25] ondys commented on #364
if the issue is that you have multiple materials, you would have to split the geometry first (as far as I know, three.js allow only one material per geometry). You can see for example this [issue](https://github.com/google/draco/issues/89) for a discussion how to do that. In future we may add a function to the javascript API that would do this automatically, but for now the splitting has to be don

[2018-04-04 17:28] FarhadG commented on #364
Thanks for the quick response, @ondys. THREE.js does provide a way for a Mesh to have multiple materials by providing an array of materials as the argument. That said, it's complicated to split up a model as it's generated by our users (via photogrammetry), so I'm not sure if there's a programatic way for doing this.

I'm really hoping we are able to leverage `.drc` here, but a large model without

[2018-04-04 20:00] FarhadG commented on #89
Do we have any programmatic way of loading a .drc file that has several textures? I have a large model (`.obj`) that was generated using a photogrammetry service. When I compress the file to `.drc`, I cannot get the multiple textures that the photogrammetry services generates for the single `.obj` to map properly. If you have any suggestions, it would be extremely helpful, as it's becoming a huge

[2018-04-05 16:00] nomercy0 opened #368 "Complete Application crash when loading bunny.drc"
I have been working on my start up since 5 months based on augmented reality .I have completed building my app logic and got stuck in remote loading of high poly assets at runtime in unity
since 1 month. I have checked all the things from my side I cant  find a solution to load 3d object faster after downloading it  .
I completely rely on draco
I tried Implementing google draco on **Unity 2107.3**

[2018-04-07 09:50] dVurpillot opened #369 "glTF export?"
I see that Draco compression is now officially supported by Khronos/glTF.
I enabled gltf related vars from the cmake file but I really don't get what is the pipeline to go from .obj/.ply to a glTF file with the correct data structure and the -h proves to be not very helpful on this matter.

Am I overlooking something?

[2018-04-11 06:50] yosun opened #370 "iOS or Linux"
Eh, why isn't there iOS or Linux support?

[2018-04-11 17:38] farzaa opened #371 "Android Integration"
Hey there everyone! I'm having a hard time getting Draco to work on an Android device. The documentation says:

I'm not sure what it means to reference Draco from an "existing native project. If someone could please explain the steps on how to get this going that'd be awesome :).

[2018-04-11 22:07] tomfinegan commented on #371
Can you clarify where you're having the problem? Are you starting with a new project, or adding Draco to one which already exists?

For either case the steps on https://github.com/google/draco#android-studio-project-integration still appear to be correct, but I haven't had time to test them lately.

[2018-04-12 02:09] farzaa commented on #371
Hiya. So, I've made a bit of progress. I managed to create a static library (.a) using Android Studio for x86_84 which should work with an x86_84 emulator. \

Here's how I'm doing my decode from within JNI. The line ` LOGI("%s", "❌ Bad decode in triangular mesh\n");` always runs whenever I try and decode. This means I'm able to load a mesh, but once I begin to decode it it runs into a bit of a sna

[2018-04-12 12:52] farzaa commented on #371
I've got it working! Here is my project ->

https://github.com/farzaa/DracoPortedToAndroid

Think I should make a PR to throw this in as an example for Android?

[2018-04-13 02:43] farzaa commented on #368
Hey dude! So, I haven't worked with Unity, but I had a very similar problem on Android and it mostly had to do with the fact that I wasn't using C++11 as my compiler. Check out my example [here](https://github.com/farzaa/DracoPortedToAndroid) if it helps :)

[2018-04-13 02:45] farzaa commented on #370
Not sure what you mean by support? You can always create your own binaries for iOS through xCode. Though, this has been made a bit [easier](https://github.com/google/draco/commit/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27) as of recently :). I've used Draco with no issue on Linux and have also ran it on an actual iPhone as well by creating the binaries, and linking my projects to these static librar

[2018-04-13 02:56] farzaa commented on #355
I was able to do it by just adding "iPhone" as a target within xCode! Also, [this](https://github.com/google/draco/commit/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27) was pushed recently.

[2018-04-16 20:35] tomfinegan commented on #371
What was the fix?

It depends on what the issue actually was behind the problem. At this point, no, I don't think that's necessary, but I could be convinced otherwise is the underlying issue is a complex issue that reproduces easily and impacts all developers attempting native integration with Draco.

[2018-04-17 17:25] farzaa commented on #371
So for me, the fix was to actually just use the generated static libraries (.a) files and have the JNI call that. To generate the library, I followed the instructions on the repo readme. But, is this how the devs want us to do it? I much rather be able to call the Draco code directly from the JNI and **not** have to generate the static libraries _and than_ link them to my app project.

[2018-04-18 14:11] tastnt commented on #70
Are there any plans on support for this? Thank you.

[2018-04-18 22:12] ondys commented on #369
Draco currently does not have a native exporter to gltf . Our current recommendation is to convert the file to a regular gltf using one of the available glTF tools and then use gltf-pipeline with our pull request [here](https://github.com/AnalyticalGraphicsInc/gltf-pipeline/pull/353).

[2018-04-18 22:14] ondys commented on #70
@tastnt Nothing new at this point. I would suggest anyone with this request to add it here so we can more accurately gauge the demand

[2018-04-18 22:46] ondys commented on #364
@FarhadG I'm not sure if I understand the problem completely. If THREE.js supports more materials per single object, you should be able to avoid the splitting altogether. Draco encodes material ids that would have to be somehow translated into material ids of THREE.js. I'm not familiar how THREE.js handles mapping between materials and faces but if they support it you should be able to modify DRAC

[2018-04-18 23:28] FrankGalligan commented on #334
Now I think we need to update to 1.8.2

[2018-04-19 06:59] ilovezfs opened #372 "1.3.0 build failure"
https://github.com/Homebrew/homebrew-core/pull/26802
tested on macOS 10.11, 10.12, 10.13
[code]
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/22526/version=high_sierra/consoleText

[2018-04-19 09:36] FarhadG commented on #364
Thanks for the response, @ondys. THREE does, indeed, support [multiple textures](https://stackoverflow.com/questions/26087620/three-js-tile-which-has-multiple-textures-using-plane-geometry).

For example, if you visit this [photogrammetry service](https://demo.webodm.org/3d/project/3/task/904c1c56-10c5-48df-a104-0138f699dd69/) where you get a large `OBJ` with multiple textures, you can download th

[2018-04-20 16:24] WeersProductions opened #373 "Draco uwp-x86 support"
Hi all,

I was wondering whether Draco has x86-uwp support?

I'm having trouble getting it to work, see [here](https://github.com/Microsoft/vcpkg/issues/3276).
If you need more information, don't hesitate to send me a message!

Thank you in advance!

[2018-04-22 19:31] slertness commented on #313
why close？

[2018-04-24 17:05] ondys commented on #372
the build for 1.3.0 should be fixed

[2018-04-24 17:05] #372 closed

[2018-04-24 17:23] guzuomuse opened #376 "please offer an option for encryption"
i want to protect my 3d assets like .obj and .gltf with draco
i can convert these files to .drc format
but we can easily reverse them using `draco_decoder`  command
so if we can add an option when we encode someobj.file
like `draco_encoder myfile.obj --password **** `
i don't know if this is a right thought,any idea? thanks

[2018-04-24 17:37] ondys commented on #373
if there are any specific build issues you can always create a pull request to fix them. We currently do not provide an official support for uwp so unless there is a sufficient demand it may take a while for the Draco team to fix that.

[2018-04-24 18:10] FrankGalligan commented on #376
Adding encryption is currently out of our scope. But if there is big enough demand I'm sure someone could create a post process tool that encrypts .drc files, much like how media files are encrypted today.

I'm not sure of your use use case, but something that could be done easily is just use zip and encrypt the files with that.

[2018-04-24 18:30] guzuomuse commented on #376
@FrankGalligan
i know zip can encrypt these file.
but i want to prevent my drc file converting to obj file without the "password";
for example:
1: i convert my obj file to drc.
2: on client side show the 3d scence by decode the drc with javascript(this process not required the password)
3:someone download the drc file,but can't convert the drc file to obj without the password
in this case we can p

[2018-04-24 23:35] WeersProductions commented on #373
Hey,
Thanks for your message. Draco seems to be fully compatible with UWP. I did not yet do any extensive testing, but I think it 'simply' works.
Disabling a few compiler warnings/errors allowed me to compile it 😀.

[2018-04-25 15:48] my2iu commented on #369
Can you put that information somewhere prominent, possibly on the front readme.md? I spent a lot of time going through a lot of gltf and draco documentation looking for the draco gltf encoder. I did not realize that there wasn't an encoder yet.

[2018-04-25 15:57] my2iu commented on #369
Or maybe you can also provide an encoder binary that people can download now, or a branch to the encoder that people can compile, or some documentation on how you created the compressed gltf sample files so that other people can start creating their own compressed gltf files too? It just seems weird to have a compression standard with no implementation.

[2018-04-25 21:28] tomfinegan commented on #371
https://github.com/google/draco/pull/377 updates README.md.

These aren't needed:

[code]

The existing README was nearly correct. It was only missing the ANDROID_STL setting from the cmake child of externalNativeBuild:

[code]

With these updates I'm able to build Draco from within Android Studio and use it from a basic test application on my Android device by simply following the instructions in

[2018-04-25 21:28] #371 closed

[2018-04-26 19:09] louquillio commented on #334
Fixed by #379

[2018-04-26 19:09] #334 closed

[2018-04-30 18:25] lilleyse opened #381 "Point cloud decode error"
I have a point cloud that has two attributes: position and color. When I apply the quantization transform to the positions the color values are returned as 0.

Here's some sample data and code example: [draco-bug.zip](https://github.com/google/draco/files/1961701/draco-bug.zip). In the folder run `npm install` and `npm start`. Go to localhost:8003 and look at the console. I’m using the 1.3.0 wasm

[2018-05-02 16:01] ondys commented on #381
thanks for the report. fixed in 1.3.1

[2018-05-02 16:01] #381 closed

[2018-05-02 16:14] ondys commented on #369
just a quick update: Draco is now fully integrated with the gltf pipeline 2.0 branch (https://github.com/AnalyticalGraphicsInc/gltf-pipeline/tree/2.0)

We are still working on a proper documentation

[2018-05-03 08:01] ilovezfs commented on #372
Thanks! 1.3.1 shipped in Homebrew. https://github.com/Homebrew/homebrew-core/pull/27405

[2018-05-03 17:09] lilleyse opened #383 "Is the octahedron transform supported for point cloud normals?"
The octahedron transform works great when decoding mesh normals but I can't seem to apply it when decoding point cloud normals. Is this expected? If it helps I can provide some sample code.

[2018-05-03 17:31] #383 closed

[2018-05-04 15:38] DrJohnDale opened #384 "Less faces after compression"
Hi,

With some compression settings (encoder.SetSpeedOptions(5, 5)) we get less faces out than we put in. Is this expected behavior? How does draco decide which faces will be removed?

Which settings give the best compression without removing faces.

Cheers

[2018-05-07 08:14] DrJohnDale commented on #384
We found the issue and it appears to be with our meshes. The mesh has some very small faces in it, so that when the obj file is created and the vertices are rounded they all have the same location.

It appears that Draco ignores these faces. Is this the expected behavior of Draco?

[2018-05-07 08:24] tastnt opened #386 "Running the WebAssembly version of Draco in a web worker"
Hey All,

I am trying to run the WebAssembly version of Draco in a web worker. I have created the following worker code based on [this example](https://github.com/google/draco/blob/master/javascript/time_draco_decode.html):

[code]
The `compressedMeshBlob` is a compressed Draco mesh which is loaded as a [Blob](https://developer.mozilla.org/en-US/docs/Web/API/Blob) by the main thread and passed to

[2018-05-09 21:56] WeersProductions commented on #112
@ondys I have the exact same issue. I have the issue on both Windows x64 as UWP x86. Draco is really fast on Macbook Pro, Android and IOS though, using the same Draco file.
The library is built with the Debug configuration and I am using commit: 02272a65c72673432a67815d7ba499e6954066ef  (version 1.3.0).

The function `DecodeMeshFromBuffer` is the slow one.

I have tested this with multiple Draco f

[2018-05-11 17:44] FrankGalligan commented on #384
Hi,

So yes by default Draco will de-duplicate vertices.

[2018-05-11 17:44] #384 closed

[2018-05-11 18:05] FrankGalligan commented on #376
@guzuomuse

I understand what you want, but talking from experience on with video encryption, it is actually a very big and difficult task to do correctly.

That being said, I reopened the issue and marked it as an enhancement. So maybe someone can take this issue and implement it.

[2018-05-14 06:41] JohnnyPosi commented on #364
@ondys does `--metadata` works when I'm encoding `.ply` files as well? Thanks!

[2018-05-14 07:47] zwcloud commented on #376
@guzuomuse

I should say this is logically impossible.

[2018-05-14 08:07] FarhadG commented on #364
Since I've received a few emails on whether I've resolved this, here's some good news for individuals with a similar use case as I've mentioned above.

I opted to leverage the `glTF` file format. With some recent developments, `glTF-pipeline` is using Draco for compression. It works like a charm and it has served me better than even using the original `.obj` files.

Here's the discussion for refer

[2018-05-14 12:57] shivabe opened #389 "Error : Unable to convert Obj to drc"
When i trying to generate drc file using draco_encoder, getting following error. Please help me to resolve this issue.

bash: ./draco_encoder: cannot execute binary file: Exec format

[2018-05-18 18:04] tomfinegan opened #393 "macos/ios unity build broken"
Apparently clang doesn't like SOVERSION properties for bundle targets.

[2018-05-18 18:20] #393 closed

[2018-05-20 06:02] farzaa commented on #370
Did @tomfinegan 's new cmake stuff not work? I haven't tried it myself but seems wayyyy easier than using XCode. Alas, I know this stuffs pretty weird if you've never done it :).

Here's what I did -
1. start with a new draco repo (do a fresh git clone). i do all my clones for all the repos i work with in my "Developer" folder.
2. go to the developer folder, and create a new folder called "draco_t

[2018-05-20 07:38] kiwipxl commented on #370
Thank you for putting that together @farzaa ! Doing gods work.
I did play around with it for a while and managed to get those static libraries in (thanks for the exact steps however), but the main issue I had was building a static library of the unity plugin. Any ideas on how to do that? It outputs a .bundle file by default instead. I'm still a bit confused on what a .bundle can actually have in i

[2018-05-21 03:47] guzuomuse commented on #376
@zwcloud ,hmmmmm....i think you are right.

[2018-05-21 03:47] #376 closed

[2018-05-21 17:19] WeersProductions commented on #112
Solved the issue, building it in 'Release' configuration did the job. In 'Debug' configurations, the Vector run-time checks slow down the encoding and decoding a lot.

[2018-05-22 16:45] najadojo opened #396 "SIGSEGV: in draco::rabs_desc_read"
Using american fuzzy lop 2.49b on draco_decoder I found a crash at the stack:

[code]

./draco_decoder -i [id:000233,sig:11,src:000605,op:arith8,pos:68,val:+3](https://github.com/google/draco/files/2027656/id.000233.sig.11.src.000605.op.arith8.pos.68.val.3.gz)

[2018-05-22 16:52] najadojo opened #397 "SIGABRT in draco::MeshPredictionSchemeConstrainedMultiParallelogramDecoder<int, draco::PredictionSchemeWrapDecodingTransform<int, int>, draco::MeshPredictionSchemeData<draco::MeshAttributeCornerTable> >::ComputeOriginalValues"
Using american fuzzy lop 2.49b on draco_decoder I found a crash at the stack:

[code]

./draco_decoder -i [id:000402,sig:11,src:002825,op:int16,pos:2799,val:+0](https://github.com/google/draco/files/2027689/id.000402.sig.11.src.002825.op.int16.pos.2799.val.0.gz)

[2018-05-22 20:10] najadojo commented on #397
I've identified more files with similar but unique stacks:

[id:000183,sig:11,src:000208,op:flip1,pos:111.gz](https://github.com/google/draco/files/2028380/id.000183.sig.11.src.000208.op.flip1.pos.111.gz)
[id:000161,sig:11,src:000026,op:arith8,pos:922,val:-26.gz](https://github.com/google/draco/files/2028381/id.000161.sig.11.src.000026.op.arith8.pos.922.val.-26.gz)
[id:000114,sig:11,src:000009,op:

[2018-05-22 20:17] najadojo commented on #396
Probably a duplicate of #397

[2018-05-22 20:17] #396 closed

[2018-05-22 21:21] najadojo opened #398 "SIGABRT in draco::IndexTypeVector<draco::IndexType<unsigned int, draco::VertexIndex_tag_type_>, int>::operator[]"
Using american fuzzy lop 2.49b on draco_decoder I found crashes at stacks like:

[code]
There are multiple input files that have this bounds check problem.
[id:000009,sig:06,src:000002,op:int32,pos:42,val:+0.gz](https://github.com/google/draco/files/2028605/id.000009.sig.06.src.000002.op.int32.pos.42.val.0.gz)
[id:000188,sig:06,src:000248,op:havoc,rep:2.gz](https://github.com/google/draco/files/20

[2018-05-22 21:40] najadojo opened #399 "SIGABRT in draco::DirectBitDecoder::DecodeLeastSignificantBits32 and DecodeNextBit"
Using american fuzzy lop 2.49b on draco_decoder I found crashes at stacks like:

[code]

There are multiple input files that have this bounds check problem.
[id:000079,sig:11,src:000008,op:flip2,pos:30.gz](https://github.com/google/draco/files/2028676/id.000079.sig.11.src.000008.op.flip2.pos.30.gz)
[id:000082,sig:11,src:000008,op:arith8,pos:27,val:+22.gz](https://github.com/google/draco/files/2028

[2018-05-22 22:06] najadojo opened #400 "SIGSEGV in draco::PointAttributeVectorOutputIterator<unsigned int>::operator="
Using american fuzzy lop 2.49b on draco_decoder I found crashes at stacks like:
[code]
There are multiple input files that have this bounds check problem.
[id000068,sig11,src000008,opflip1,pos14.gz](https://github.com/google/draco/files/2028757/id.000068.sig.11.src.000008.op.flip1.pos.14.gz)
[id000356,sig11,src002152,opflip1,pos11.gz](https://github.com/google/draco/files/2028766/id.0003

[2018-05-23 02:32] loohopen opened #401 "How to get obj name and sub_obj name from metadata with javascript decoder API"
using version 1.3.0

[2018-05-23 12:26] Aeros commented on #348
Sorry for the late reply, a skiing accident...
 We decided finally  to embedded the normals, we did not have time anymore to find another solution...
It take more physical space (the double), the dowloading time is a little more longer, but the loading time remains very correct.
If someone finds another way, it will be with pleasure...

[2018-05-23 16:35] lilleyse opened #402 ""memory access out of bounds" error when decoding point cloud to quantized form"
I'm getting a "memory access out of bounds" error when decoding very small point clouds when skipping the attribute transform.

If `dequantizeInShader` is true, `DecodeBufferToPointCloud` will fail, but only for small files.

[code]

I put together a small sample here:
[draco-bug.zip](https://github.com/google/draco/files/2031965/draco-bug-3.zip)

In the folder run npm install and npm start. Go to

[2018-05-25 06:40] kiwipxl opened #404 "Unity windows builds are crashing"
Has anyone been able to build a working unity build in Visual Studio 2017 Community? Whenever the dll function is called (DecodeMeshForUnity), Unity will crash. I've looked at the EventViewer and there doesn't seem to be any useful information I can show here, but I've uploaded the built dll I have (x64) in case anyone wants to try it.

This is the cmake command I used:
`cmake ../ -G "Visual Studi

[2018-05-30 00:42] zellski opened #406 "Compilation error with GCC 4.8"
Is this a known problem? Is there a workaround, or is the GCC simply too old? ~~It seems to happen for 4.9.2 as well.~~ Edit: 4.9.2 is good.

[code]

[2018-05-30 03:56] kiwipxl commented on #404
This seems to only happen when freeing memory inside `DracoMeshLoader.cs`.
Might be good to call the plugin's release instead of marshal release?

[2018-05-30 09:12] themmes commented on #40
off-topic: @saedrna can you say something about compression rate differences between Draco Pointcloud and LAZ format?

[2018-05-30 11:37] saedrna commented on #40
@themmes Draco wins, but is lossy.

[2018-05-30 16:21] #183 closed

[2018-05-30 19:20] FrankGalligan commented on #406
It is a known issue. Do you need 4.8?

[2018-05-30 19:44] zellski commented on #406
There have been requests to run FBX2glTF on the AmazonLinux distributions that are based on CentOS 6, and sometime goes wrong there -- at least with the way I've been compiling it. A sample report is here: https://github.com/facebookincubator/FBX2glTF/issues/104

Let me see what I can do with a simplified compilation approach; using GCC 4.9.2 on the exact target distribution. I'll get back to you.

[2018-06-01 03:55] loohopen commented on #401
that's very kind of you! it's works! thank you very much! @simena86

[2018-06-01 08:20] DrJohnDale opened #407 "CMake flag to build draco webassembly libraries which can be linked to WASM at a later build stage."
We are using draco in out cpp side and our web side and have recently started to use webassembly with emscripten to to build our cpp so we can use it in the browser.

For this we need to link to the draco libraries but the default emscripten build does not produce the libdraco, libdracodec and libdracoenc libraries.  We currently edit the CMakeList.txt entry at line 607 from:
[code]
to
[code]

So

[2018-06-01 08:54] simena86 commented on #401
Happy to help! :smile:
Btw. there seems to be a problem mapping the names to the right sub objects. (Seems to be a problem with `decoder_webidl_wrapper.cc`'s use of unordered_map -> vector.) Perhaps you could confirm if you're having the same problem @loohopen  ?

[2018-06-01 14:00] simena86 commented on #401
#408 should hopefully fix it

[2018-06-04 07:39] simena86 commented on #401
For completion (with the fix from #408), this is how one could the relationship between a mesh's faces and corresponding sub object name:

[code]

[2018-06-04 07:47] DrJohnDale commented on #407
Hi,

I tested the branch and it works perfectly.

Cheers.

[2018-06-04 09:14] loohopen commented on #401
@simena86 yes, you are right, i just tested my project， and i meet the same problem:
there is an extra name named `name`, and those names are not mapped with subObject_id...
seems you have fixed this problem in [#408](https://github.com/google/draco/pull/408), i'll try it later.
thank you for help!

[2018-06-04 22:48] chipweinberger opened #411 "Too many compiler warnings."
`draco-1.3.1\src\draco\attributes\point_attribute.h(70): warning C4267: '=': conversion from 'size_t' to 'unsigned int', possible loss of data`

If you can, please add the appropriate static casts. `unsigned int x = (unsinged int) y;`

Cluttered warnings makes it hard to spot new ones.

[2018-06-04 23:39] chipweinberger opened #412 "[Build] LNK2001 unresolved external symbol __std_reverse_trivially_swappable_ C:\Users\Test\App.lib(sequential_attribute_encoders_controller.obj)"
Where is this defined?

[2018-06-05 00:37] chipweinberger commented on #412
Answer:
https://developercommunity.visualstudio.com/content/problem/205947/binary-compatibility-possibly-broken-using-stdreve.html

[2018-06-05 00:55] chipweinberger commented on #412
Nevermind. I updated to VS2017 and still seeing it. Odd.

[2018-06-05 01:09] chipweinberger commented on #412
And.... a rebuild fixed it. Back to closed =)

[2018-06-05 01:09] #412 closed

[2018-06-06 03:31] loohopen commented on #401
@simena86 does [#408](https://github.com/google/draco/pull/408)  means that i just should re-complie the source use [this method](https://github.com/google/draco#webassembly-decoder) and generate a new draco_wasm_wrapper.js  ?

[2018-06-06 11:08] FreddyFunk opened #413 "C++ Decoder API Returns Broken Mesh"
Hi,

I have written the compressed bytes into a binary file and was able to get a valid .obj file with the draco_decoder.exe using the follwoing command:
`draco_decoder.exe -i test.drc -o test.obj`

My code for decompression is based discription of the C++ Decoder API here on github.
[code]

Sadly, following this discribtion the decompressed mesh _attribute_data__ and _faces__ are empty, so it see

[2018-06-06 17:11] ondys commented on #397
fixed in 1.3.2

[2018-06-06 17:11] #397 closed

[2018-06-06 17:11] ondys commented on #398
fixed in 1.3.2

[2018-06-06 17:11] #398 closed

[2018-06-06 17:11] ondys commented on #399
fixed in 1.3.2

[2018-06-06 17:11] ondys commented on #400
fixed in 1.3.2

[2018-06-06 17:11] #400 closed

[2018-06-06 17:48] ondys commented on #402
I believe I found the issue, but just to make sure, was the draco-bad.bin encoded without quantization? From debugging, it seems like the position attribute was not quantized which is causing the problem when the skip attribute transform is requested. If that's the case, the fix I'm working on will solve the crashing, but there will be no attribute transform available for the position attribute (s

[2018-06-06 22:22] najadojo opened #414 "APPLICATION_FAULT_NULL_POINTER_WRITE_INVALID_POINTER_WRITE_draco_decoder!draco::DynamicIntegerPointsKdTreeDecoder_6_::DecodeInternal_draco::PointAttributeVectorOutputIterator_unsigned_int___+642"
Using american fuzzy lop 2.49b on draco_decoder 1.3.2 I found crashes at stacks like:

draco_decoder!draco::DynamicIntegerPointsKdTreeDecoder<6>::DecodeInternal<draco::PointAttributeVectorOutputIterator<unsigned int> >+0x642
draco_decoder!draco::DynamicIntegerPointsKdTreeDecoder<6>::DecodePoints<draco::PointAttributeVectorOutputIterator<unsigned int> >+0xb5
draco_decoder!draco::KdTreeAttributesDec

[2018-06-07 03:48] lilleyse commented on #402
I printed out the quantization bits and it was in fact 0 for these small tiles. Thanks for noticing that.

[2018-06-07 10:06] simena86 commented on #401
there is an extra name named name, and those names are not mapped with subObject_id...

yep, found that too, and as you mention #408 solves this

Yep, just recompile from 66770f968648df360f69c6f064920cb9f5a9f001 and use the newly created `draco_wasm_wrapper.js` and also `draco_decoder.js` / `draco_decoder.wasm` I guess.

[2018-06-07 14:56] SebastienHo opened #415 "Draco loader fails to work on IE11"
Hi team,

Thanks for prodvided draco, we found it extremely good compared to normal three js loader.

We found out that draco loader does not work on IE11 (either windows 10 or 7) :
 see https://threejs.org/examples/webgl_loader_draco.html

It looks like WebAssembly is not supported by IE11, therefore it falls into the .js script load : doing so it doesn't load the rabbit model.

Could you help us

[2018-06-07 19:32] najadojo opened #416 "APPLICATION_FAULT_INVALID_POINTER_READ_draco_decoder!draco::MeshTraversalSequencer_draco::EdgeBreakerTraverser_draco::CornerTableTraversalProcessor_draco::MeshAttributeCornerTable_,draco::MeshAttributeIndicesEncodingObserver_draco::MeshAttributeCornerTable_,d"
Using american fuzzy lop 2.49b on draco_decoder 1.3.2 I found crashes at stacks like:

draco_decoder!draco::MeshTraversalSequencer<draco::EdgeBreakerTraverser<draco::CornerTableTraversalProcessor<draco::MeshAttributeCornerTable>,draco::MeshAttributeIndicesEncodingObserver<draco::MeshAttributeCornerTable>,draco::EdgeBreakerObserver> >::UpdatePointToAttributeIndexMapping+0xe3
draco_decoder!draco::Se

[2018-06-07 21:22] chipweinberger opened #417 "Is there documentation for encoding from c++?"
Samples?

[2018-06-07 23:09] tomfinegan commented on #407
Thanks for testing! Closing.

[2018-06-07 23:09] #407 closed

[2018-06-07 23:12] tomfinegan commented on #415
Does patching in the changes from https://github.com/google/draco/pull/405, and enabling IE_COMPATIBLE when you run CMake fix the issue?

[2018-06-08 00:27] chipweinberger opened #419 "Assertion failed: (normal.AbsSum()) <= (upper_bound)"
I've been documenting this issue over here:https://github.com/donmccurdy/three-gltf-viewer/issues/99

I have a mesh with positions and normals only. It encodes without error, but fails on decode.

[2018-06-08 14:51] Rafidheen opened #420 "Getting td::bad_alloc error while decoding drc file as obj"
Unhandled exception at 0x769DC41F in draco_decoder.exe: Microsoft C++ exception: std::bad_alloc at memory location 0x001CECB8.
![error](https://user-images.githubusercontent.com/9413194/41164716-77868b72-6b59-11e8-8e1d-41d1599942ea.png)

Please let me know if any other details required.

[2018-06-08 15:48] ondys commented on #420
Hi,
Can you share with us the .drc file that causes this issue? Thanks

[2018-06-08 16:05] ondys commented on #419
I believe this problem is already fixed in the latest version of draco decoder. It seems the decoders at Don's repo are somehow out of date and need to be updated (https://github.com/donmccurdy/three-gltf-viewer/tree/master/lib/draco)

[2018-06-08 16:08] ondys commented on #413
for the decoder, the return type needs to be of type `std::unique_ptr<draco::Mesh>`, not `draco::Mesh*`.

if you call:
[code]

the returned mesh would get deleted right after the function returns (the pointer is owned by the unique ptr that you don't assign anywhere).

[2018-06-08 16:30] FreddyFunk commented on #413
Thanks for pointing this out. I managed to get it working.

[2018-06-08 16:30] #413 closed

[2018-06-08 17:43] chipweinberger commented on #419
Great! I'll forward this to him and see if it fixes it!

[2018-06-08 18:21] donmccurdy commented on #419
Just to confirm, is this a decoder bug that has been fixed, or something in the newer encoder that is not backward-compatible?

[2018-06-08 18:29] ondys commented on #419
It was a decoder bug and bitstream wasn't changed (a couple of wrong asserts sneaked in to the javascript / wasm decoder).

[2018-06-10 17:35] donmccurdy commented on #419
Ok, thanks!

[2018-06-12 14:00] qweas120 commented on #406
Hi @zellski. I run into this issue too. I also tried GCC 4.9(4.9.4) but it didn't work. Is there any suggestion?

[2018-06-12 14:28] SebastienHo commented on #415
I have tried the cmake command
_cmake ..\draco-master -DCMAKE_TOOLCHAIN_FILE="C:\Users\sho\Downloads\emsdk-master\emsdk-master\emscripten\1.38.5\cmake\Modules\Platform\Emscripten.cmake" -DIE_COMPATIBLE=true_

I get the following outputs

C:\Users\sho\Downloads\draco-master\draco_build>cmake ..\draco-master -DCMAKE_TOOLCHAIN_FILE="C:\Users\sho\Downloads\emsdk-master\emsdk-master\emscripten\1.38.5\c

[2018-06-13 03:11] qweas120 commented on #406
Well, I compiled it successfully.
The error is about the override functions.
[code]
[code]

It seems that the right value reference function can consume both left value reference and right value reference. Thus I rename the left value reference function to avoid the ambiguity and it works finally.

[code]
[code]

[2018-06-13 22:10] #419 closed

[2018-06-15 06:30] yazhouzheng opened #422 "Some labels can't resolved in the 0.9.1 version of Draco."
Hi Developers,

I have a legacy code which using Draco initial version's interfaces. but when I add the related Draco code to my project, there still has some labels can't resolved, such as draco::BasicIndexType, draco::FixedDataBuffer and PointAttribute's setBuffer method mesh's method SetFaces, I want to know whether there has earlier Draco version can solve this problem? Anyone could help me wi

[2018-06-15 09:37] FreddyFunk opened #423 "How to encode triangle strips?"
Hello,

I saw the file "_mesh_stripifier.h_" and am courious, how to initialize a Draco Mesh with triangle strips and if the C++ Encoder and Decoder could handle triangle strips with primitive restart or with degenerated triangles in a Mesh as input.

Kind Regards

[2018-06-16 00:12] ondys commented on #423
mesh stripifier is used only to generate triangle strips out of an existing `draco::Mesh` but `draco::Mesh` itself does not support triangle strip representation. If you want to encode triangle strips with draco, you need to "unroll" the strips to regular tri-list representation and then stripify the decoded mesh (but the strips will be most likely different compared to the input mesh)

[2018-06-16 00:13] ondys commented on #422
you may try using older version of draco from here: https://github.com/google/draco/releases/tag/0.9.1

[2018-06-18 03:16] Sirokujira commented on #351
Issue Close.(Correspondence with #340)

[2018-06-18 03:16] #351 closed

[2018-06-18 15:38] ondys commented on #414
fixed in 1.3.3

[2018-06-18 15:38] #414 closed

[2018-06-18 15:38] ondys commented on #416
fixed in 1.3.3

[2018-06-18 15:38] #416 closed

[2018-06-18 15:38] ondys commented on #402
fixed in 1.3.3

[2018-06-18 15:38] #402 closed

[2018-06-18 22:30] MiiBond commented on #417
I'm also looking for this right now. I haven't had any luck finding anything.

[2018-06-18 22:34] MiiBond commented on #417
I found some code here that looks like it'll be helpful #116

[2018-06-19 01:22] yazhouzheng commented on #422
Thanks for providing the advice, but I have tested the version 0.9.0 and version 0.9.1, it still can't work around. And I found the ResetBuffer method of point_cloud/point_attribute.cc in the source code , but no setBuffer found, can you give some hint about it?

Best Regards
Asher

[2018-06-19 01:27] yazhouzheng commented on #422
And here is my search history:
/draco-0.9.1
$ grep -irn "setBuffer" *
point_cloud/geometry_attribute.cc:68:void GeometryAttribute::ResetBuffer(const DataBuffer *buffer,
point_cloud/geometry_attribute.h:183:  void ResetBuffer(const DataBuffer *buffer, int64_t byte_stride,
point_cloud/point_attribute.cc:43:  ResetBuffer(attribute_buffer_.get(), entry_size, 0);

And I have a question, Since there has

[2018-06-19 09:23] FreddyFunk commented on #423
Ok, thank you for this information. Do you know which algorithms have constraints that prevent the draco encoder to work directly on triangle strips?

[2018-06-20 15:50] ShaoyuanLi opened #425 "Is there technical papers or algorithm documents which explain basic and deep details of draco?"
Hello,

I have learned corto(vclab) and other mesh compression library.I have read some papers such as _Edgebreaker: Connectivity compression for triangle meshes_ and _Edge breaker on a Corner Table : A simple technique for representing and compressing triangulated surfaces_.However draco code seems more complexity than below projects and papers.Is there technical papers or algorithm documents whi

[2018-06-21 09:04] CC1027CC opened #426 "Failed loading the input mesh: Failed to parse a float number"
I'm getting errors encoding.
[test.zip](https://github.com/google/draco/files/2122855/test.zip)
This obj file is generated by Rhino tool.

[2018-06-22 15:58] MiiBond opened #427 "Sharing attributes between meshes"
Hello. I'm new to Draco and am implementing it in our glTF exporter.

It's not clear to me whether I can encode multiple meshes that share attribute data. i.e. if I have attribute buffers for positions, normals, etc. and two meshes with different index buffers that both reference those attributes, is there a way to represent this in Draco? Or do I just need to copy the attribute buffers into both

[2018-06-22 21:11] mhsaar commented on #427
Draco can handle multiple connected components of "one" mesh, if this is
what you mean.

best,
 Michael

On Fri, Jun 22, 2018 at 8:58 AM MiiBond <notifications@github.com> wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-06-23 05:22] MiiBond commented on #427
I'm not sure what you mean by a component of a mesh. Specifically, here is my scenario:
I have a triangle mesh with separate (non-interleaved) attribute buffers; positions, normals and uvs. However, I have multiple index buffers into this data as this mesh has multiple materials. i.e. I have sub meshes... if that's an appropriate term. Is this what you mean by "component"?
When constructing a `dra

[2018-06-23 10:04] jkfhto opened #428 "What is the difference between draco_decoder and draco_decoder_gltf? And what is the role of drago_decoder_gltf.js?"

[2018-06-23 10:12] jkfhto commented on #428
Is drago_decoder_gltf.js used to decode gltf files?

[2018-06-25 15:52] mhsaar commented on #427
A triangular mesh consists for triangular fasces, in case exactly two
triangles share the same edge we consider them as connected. This defines
the so called dual graph of a mesh, where the faces are the nodes of the
graph, see [1]. In the same way a graph can have connected components, the
mesh may have connected components. As long as we are only considering
position attributes this concept is r

[2018-06-27 07:41] merxim opened #429 "sub_obj attribute points less than actual points?"
Hello,

I am trying to use the method described in https://github.com/google/draco/issues/89 by @ondys  and @NumaNumaNuma, and I managed to make changes both to the decoder plugin and in Unity using the code samples.
While the vertices seem to be in order(can't see them yet, but it doesn't throw any errors) and the logic with the faces seems to be fine as well, There is an index error when I m try

[2018-06-27 07:44] NumaNumaNuma commented on #429
I haven't used draco in a while, but your 60k points missing reminded me that Unity silently splits models with more than 63k vertices. Maybe that has something to do with it?

[2018-06-27 07:48] merxim commented on #429
I 'm running draco_decoder in visual studio in debug mode with breakpoints and it still has the same behaviour:
http://prntscr.com/jzufsg

[2018-06-28 12:11] chlueth opened #430 "Memory array error"
Hi everybody,
i am working on a viewer with three.js to load a gltf file version 2.0 with draco compression.
The script ist working fine, with files less ~59MB. Larger files allways creating the following error:

![grafik](https://user-images.githubusercontent.com/31095880/42033320-d51308c8-7adc-11e8-895d-c1acd5ee52bb.png)

I tried to build the js files on my own, but this also fails, there for i

[2018-06-29 16:39] SergeyNewcastle commented on #404
Have the same problem

[2018-07-02 11:54] nilsk123 opened #431 "Some DRC files crash Unity"
I've been using the Draco plugin for Unity to import and decode DRC files using the example scripts in the plugin folder. The bunny.drc loads just fine, but some other models just make Unity crash without showing an error. Find attached an example of a DRC file that will crash Unity. This applies to Unity on both windows and Mac OS X, and it happens on every unity version I've tried.
[3713635324.d

[2018-07-03 10:13] merxim commented on #429
For other people that might come across this: I was accessing the values for sub_obj_names  through the Attribute->buffer->data(). everything was resolved (and i didn't have to manually pass the index mapping to Unity) when I stored the values in the same way as the other attributes in the draco_unity_plugin.cc:  "if (!subojb_att->ConvertValue<int, 1>(val_index, unity_mesh->sub_objs + i.value()))

[2018-07-03 10:13] #429 closed

[2018-07-04 02:19] JakobC-O opened #432 "Why not use "using namespace std"?"
In several of your header files, you don't use `using namespace std;` Is this because other libraries use the same function?

[2018-07-04 04:02] ondys commented on #428
draco_decoder_gltf.js can only decode Draco files that are compliant with the GLTF bitstream spec. In practice it means it can decode files encoded with draco encoders 2.x and 3.x  . The non-gltf decoder is backwards compatible and it can decode files that were encoded with encoder versions 0.x and 1.x

[2018-07-04 04:07] ondys commented on #427
@MiiBond Short answer is no,. If you use multiple meshes , they need to have unique attributes.

[2018-07-04 04:12] ondys commented on #426
I believe the problem is caused by having split lines with `\` symbol such as
[code]

It seems pretty non-standard to me, but I'll add it to our internal issue tracker and hopefully we will add support for this into the Draco OBJ loader

[2018-07-04 04:16] ondys commented on #423
The main algorithm used by Draco is based on the Edgebreaker method that encodes the connectivity in a specific pattern that does not follow triangle strips. Strips could be theoretically encoded directly with the sequential encoding method, but we currently don't have a support for that

[2018-07-04 04:19] ondys commented on #430
Is the error message generated using our official draco_decoder.js ?  It looks like the .js was not compiled with -s ALLOW_MEMORY_GROWTH=1  but we have this options enabled in the CMake build. You can try to send us the .drc / .bin file that is causing the problem and we can try it on our end. Thanks

[2018-07-04 05:46] MiiBond commented on #427
Ah, thank you for the confirmation.

On Tue, Jul 3, 2018 at 9:07 PM, Ondrej Stava <notifications@github.com>
wrote:

[2018-07-10 13:58] simonbourne commented on #386
I also experience this same issue with the WebAssembly version of DracoDecoderModule not being fully initialised and raising the same exception when I try to initialise a DecoderBuffer object:

`draco_wasm_wrapper.js:60 Uncaught TypeError: Cannot read property 'apply' of undefined
    at DracoDecoderModule.a._emscripten_bind_DecoderBuffer_DecoderBuffer_0 (draco_wasm_wrapper.js:60)
    at new R (dr

[2018-07-11 10:44] DuccioLenkowicz opened #433 "Using draco in a c++ project, header files"
I'm on windows and i need to use draco in a c++ project i'm working on.  After generating the visual studio project files and building the library i would also need the header files to actually use it. Beyond copying the ones in the source code, or writing my own with the stuff i need, is there a way to generate an include folder with everything in it? Am i missing something?

[2018-07-12 09:39] #422 closed

[2018-07-16 19:06] saeidfarivar opened #434 "can't build 1.3.3 from released source for android armeabi-v7a"
Hi,

I am doing the following to make the libs:
1- download the source from https://github.com/google/draco/archive/1.3.3.zip
2- unzip, make "build" dir in the unzipped folder,
3- in "build" dir, run:
- export CMAKE_ANDROID_NDK=~/android-ndk-r14b
- cmake .. -DCMAKE_TOOLCHAIN_FILE=../cmake/toolchains/armv7-android-ndk-libcpp.cmake
4- once that is done, from the same "build" directory, I am running

[2018-07-17 03:07] kxf3199 opened #435 "something is wrong when Using draco to compress mesh in C++ project,who can help me?"
i use draco to compress the gltf model。it posted message "Error decoding draco mesh geometry: Failed to decode point attributes" when loading the processed data in cesium.what is wrong?
this is my code：
std::unique_ptr<draco::Mesh> draco_mesh(new draco::Mesh());
			// primitives
			for (auto gprim : gmesh->primitives) {
				auto num_pos = 0;
				glTFDracoMeshCompress* draco_mesh_compress = new glT

[2018-07-18 06:58] TobiasMorell opened #436 "WebGL build support in Unity"
I'm very interested in the Draco Unity plugin and would like to use it in a project. Before starting I have a couple of questions:

1. The project is meant to run in a browser, will I be able to use the Draco plugin for Unity for that or should I use the one for JavaScript?
2. I'm running Ubuntu 16.04 and after importing the plugin and bunny.drc file, I'm getting a DllNotFoundException. The README

[2018-07-18 09:09] maskerman opened #437 "After compress, the obj's texture coordinate changed"
I try draco 1.3.2 ,and find a problem :After endcode and decoder, some obj's texture coordinate changed.
      Please see attached test.

zip. I use the following command line:
      draco_encoder.exe -i vrtest.obj -o vrtest -qt 14
      then I run the following command line:
      draco_decoder.exe -i vrtest -o vrtest1.obj
      and import the two obj to 3dsmax. then I find the texture-coord is c

[2018-07-18 09:12] maskerman commented on #437
attached screen capture 14.jpg.
[14.zip](https://github.com/google/draco/files/2205149/14.zip)

[2018-07-18 10:16] trox667 commented on #386
Maybe you just need to wait for the wasm module to be ready. There is a callback available added to the draco_wasm_wrapper. It's also used in the [example](https://github.com/google/draco/blob/master/javascript/time_draco_decode.html)
[code]
Waiting for this callback before starting the decoder should help.

[2018-07-19 12:01] TobiasMorell commented on #436
I've done some more research and have been able to generate answers for my questions. I will post them here if anyone has similar needs:
1. Unity is able to build for WebGL, however, when I'm opening the project I get an error stating:

I currently suspect this is an issue in Unity's build system and I have replied to [a forum post about a similar issue](https://forum.unity.com/threads/to-use-dlop

[2018-07-20 10:10] TobiasMorell commented on #431
I had a similar issue after compressing [a free batman mesh](https://free3d.com/3d-model/batman70-68300.html) and adding it to Unity.

I tried to load the mesh into Meshlab, which gave me an error stating that there was a problem with one of the materials. I solved it by exporting it from Meshlab as a .ply-file and compressing that instead. I know that it's not much help, but it atleast shows that

[2018-07-22 08:30] dyangrun commented on #221
Hi,
I just add new function to Draco unity plugin,fix some issues like you happen.
You can try step by this:
1. change draco_unity_plugin project
2. change CMakeLists, fix itme in add_library(dracodec_unity).
3.build  dracodec_unity project, get dll to use

[2018-07-27 06:24] qiangzi7723 opened #439 "Could Not Found ./draco_encoder"
Arter I run `cmake ../ -G Xcode`, I could not found draco_encoder or draco_decoder. So I don't know how to compress my obj.

Where are they?My system is Mac Serria 10.12.2. Thanks.

By the way, `cmake ../ -G Xcode` work successful but no draco_encoder and draco_decoder.

[2018-07-30 08:58] jokoon opened #441 "If you want people to use that library, you need to make that documentation accessible"
I just wanted to read about the internals of draco, looking at its doc.

I landed here https://github.com/google/draco/tree/master/docs/spec

You should provide a HTML doc, or a simpler way to generate the doc, like plain markdown. This is wirth's law at play here.

From what I gather you require 5 (!?!) things to generate that doc: ruby, rbenv, markdown, bundle, kramdown, jekyll. Apparently it st

[2018-07-30 23:27] FrankGalligan commented on #439
Hello,

`cmake ../ -G Xcode` will build the Xcode project. Then you need to open the Xcode project in Xcode to build draco_encoder and draco_decoder.

If you have the command line tools installed on your mac you can just build form the command line.

`cmake ../`
`make`

[2018-07-30 23:36] louquillio commented on #441
There is no need to build the document. The rendered document (HTML) is automatically published by GitHub Pages, here:

https://google.github.io/draco/spec/

The document build steps essentially describe the GitHub Pages pipeline. They are only needed if one had a special need to build it locally.

[2018-07-30 23:36] #441 closed

[2018-07-31 06:14] testkit opened #443 "Any plan to support PCD format?"
PLY is supported as point cloud format, but is there plan to support PCD format considering it's also a very popular point cloud format?

[2018-08-02 03:15] ToniFF opened #444 "Build unity plugin for iOS"
I build .a for unity successfully following kiwipxl's [steps.](https://github.com/google/draco/commit/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27) But Xcode tells me "Symbol not found" when I run "DecodeMeshForUnity()".
I checked the .a file and it contains the symbol "_DecodeMeshForUnity".
Can someone send me a .a file to test? Any kind of help is desired, thanks!

[2018-08-02 03:16] ToniFF opened #445 "Build unity plugin for iOS"
I build .a for unity successfully following kiwipxl's [steps.](https://github.com/google/draco/commit/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27) But Xcode tells me "Symbol not found" when I run "DecodeMeshForUnity()".
I checked the .a file and it contains the symbol "_DecodeMeshForUnity".
Can someone send me a .a file to test? Any kind of help is desired, thanks!

[2018-08-02 03:17] #444 closed

[2018-08-02 07:14] #445 closed

[2018-08-02 08:50] ToniFF opened #446 "Fatal error in draco_unity_plugin.cc"
The codes about getting uv are wrong and Unity crash would be caused. They should be:

if (!texcoord_att->ConvertValue<float, 2>(
              val_index, unity_mesh->texcoord + i.value() * 2)) {
        ReleaseUnityMesh(&unity_mesh);
        return -8;
}

[2018-08-03 02:27] maque123 opened #447 "请教ios项目的构建"
请问怎么配置CMakeLists.txt 文件才能生成一个ios的项目，目前生成的是mac项目，请指导的打什么给予帮助，谢谢

[2018-08-03 05:28] MiracleVulkan opened #448 "How to distinguish multiple Mesh in the Drc file"
A obj file contains two Mesh (for example, mesh1 has 8 vertices, and Mesh2 has 8 vertices).And these two Mesh have different colors and names. After converting to DRC format,Loading the DRC file with Draco_loader, there is only one Mesh (16 vertices).What should I do to separate the two Mesh,Add different attribute information to each Mesh

[2018-08-03 08:28] ToniFF commented on #447
toolchain已经有iOS的支持了
https://github.com/google/draco/commit/3b3cab31e5e75de851cd2eb588cd7ba8eec70f27

[2018-08-03 15:26] lucasdeoliveiragomes opened #449 "There is some way to convert a gltf file to a drc file?"
I'm trying to convert a 3d file to drc, but it's neither obj nor ply, so I've seen the compatibility of Draco with gltf. I would like to know if there is anything ready to convert a gltf file to a Draco file.

[2018-08-03 19:20] donmccurdy commented on #449
@lucasdeoliveiragomes glTF supports many features like materials, animation, and node hierarchies, so converting from `.gltf` to `.drc` would lose a lot of information. If you're just trying to add Draco compression to an existing model, you can do that while keeping it in `.gltf` format. Refer to the [2.0 branch of glTF-Pipeline](https://github.com/AnalyticalGraphicsInc/gltf-pipeline/tree/2.0).

[2018-08-03 20:47] lucasdeoliveiragomes commented on #449
My goal was to able to convert other file types(stl for example) to drc, and when saw the gltf compatibility with draco I think that could convert a file to gltf and after to drc

[2018-08-03 21:33] donmccurdy commented on #449
Probably what you saw mentioned about "gltf compatibility with draco" is that the glTF format uses the Draco compression technique inside its own (`.gltf` or `.glb`) files. If you want highly compressed files that contain both meshes and materials, then glTF (with Draco) is probably the right thing to use, there are many more tools that can open glTF files than `.drc` files.

I do not think there

[2018-08-04 16:35] FrankGalligan commented on #437
I think this is because of the precise nature of the texture coordinates and the quantization. E.g. If you run:
draco_encoder.exe -i vrtest.obj -o vrtest-qt20.drc -qt 20
draco_decoder.exe -i vrtest-qt20.drc -o vrtest2.obj

vtrtest2.obj will have texcoords that look correct.

[2018-08-04 16:36] FrankGalligan commented on #446
This will be fixed in the next release

[2018-08-04 17:01] FrankGalligan commented on #435
Sorry it has been a while. Your code looks fine from just looking at it. Can you attach a sample of the encoded data?

[2018-08-04 17:24] #427 closed

[2018-08-04 17:30] #423 closed

[2018-08-04 17:31] FrankGalligan commented on #420
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:31] #420 closed

[2018-08-04 17:33] #411 closed

[2018-08-04 17:39] FrankGalligan commented on #17
I'm closing this issue. If you think we should talk more about it please re-open.

[2018-08-04 17:39] #17 closed

[2018-08-04 17:41] FrankGalligan commented on #20
I'm closing this issue. If you think this is a feature we should really look at, please re-open.

[2018-08-04 17:41] #20 closed

[2018-08-04 17:41] #22 closed

[2018-08-04 17:42] FrankGalligan commented on #24
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:42] #24 closed

[2018-08-04 17:42] #25 closed

[2018-08-04 17:43] #40 closed

[2018-08-04 17:43] FrankGalligan commented on #41
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:43] #41 closed

[2018-08-04 17:43] FrankGalligan commented on #43
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:43] #43 closed

[2018-08-04 17:44] FrankGalligan commented on #44
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:44] #44 closed

[2018-08-04 17:44] #49 closed

[2018-08-04 17:45] FrankGalligan commented on #55
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:45] #55 closed

[2018-08-04 17:45] FrankGalligan commented on #56
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:45] #56 closed

[2018-08-04 17:46] #62 closed

[2018-08-04 17:46] FrankGalligan commented on #67
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:46] #67 closed

[2018-08-04 17:46] #68 closed

[2018-08-04 17:47] FrankGalligan commented on #91
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:47] #91 closed

[2018-08-04 17:47] FrankGalligan commented on #98
I'm closing this issue. If you are still having problems please re-open.

[2018-08-04 17:47] #98 closed

[2018-08-05 03:07] ondys commented on #448
If you want to preserve multi meshes, it is best to encode them into separate .drc files. There are ways for splitting geometries according to their sub object ids (encoded for .obj files when --metadata flag is enabled), see for example discussion here: https://github.com/google/draco/issues/89

[2018-08-05 18:02] FrankGalligan commented on #79
I'm closing this issue. If you think we should talk more about it please re-open.

[2018-08-05 18:02] #79 closed

[2018-08-06 06:59] #439 closed

[2018-08-06 12:36] Ajes1337 opened #450 "Any way to Export a Mesh in Unity to a draco-file ?"
Is there any way to Export a Mesh in Unity to a draco-file ?

So far I can only se that Importing draco-file into Unity is supported :/

[2018-08-06 17:19] Ajes1337 commented on #450
In my project I have very large meshes, where I serialize the geometry myself and then stores it on HDD for later use.. And then de-serializing it when I need the large meshes again..

I just thought that Draco could replace my serialization part, so that I would use less disk-space..

Ideally if Draco could take an Unity Mesh and make it into an Byte-array, and then back to it original Unity-mesh

[2018-08-06 17:20] FrankGalligan commented on #436
Hi @TobiasMorell Unfortunately we have not been able to get Unity to load a Draco plug-in in the browser as well. I will keep this open as an enhancement. Hopefully in the future we will figure out how to get this to work.

[2018-08-06 17:43] lucasdeoliveiragomes commented on #449
The [draco3dgltf](https://github.com/google/draco/tree/master/javascript/npm/draco3dgltf) don't do that?

[2018-08-06 18:33] donmccurdy commented on #449
No, the `draco3dgltf` module does not have any features for reading a glTF file. Typically it would be used for encoding geometry "in place" in a glTF file, or decoding Draco data in a glTF file at runtime.

Even if a converter existed, it would never be possible to convert _everything_ in a glTF file to a `.drc` file. Materials, textures, animation, etc. will be lost.

[2018-08-06 18:39] lucasdeoliveiragomes commented on #449
Ok, thanks very much!

[2018-08-06 18:55] #449 closed

[2018-08-07 08:59] TobiasMorell commented on #436
@FrankGalligan thank you for your reply. I haven't had time to check it myself, but I was thinking that it might be possible to use the readymade JavaScript compilation instead. I will examine myself when I have some spare time and post my discoveries here.

If you want to check it out you can find more information about [interfacing with browser scripting](https://docs.unity3d.com/Manual/webgl-in

[2018-08-08 03:27] FrankGalligan commented on #431
Hi @nilsk123 I was able to decode your mesh in Unity. What version of Unity are you using?

[2018-08-08 08:25] Ajes1337 commented on #450
Hmm, how would I call draco_encoder from Unity/C#/Mono ?

I can see that there is a Javascript Encoder And Decoder API.. Do you know if there is any C# version of that on the roadmap..?

[2018-08-08 11:25] TobiasMorell commented on #431
If it's any help I'm using Unity 2018.2.0 for Ubuntu 16.04.

[2018-08-08 18:38] FrankGalligan commented on #404
I was able to reproduce the issue. This will be fixed in the next release.

[2018-08-08 19:01] tomfinegan commented on #415
@SebastienHo Can you try using the makefile generator? I don't think you're going to be able to get an Emscripten build to work from within Visual Studio.

[2018-08-08 19:04] FrankGalligan commented on #415
@SebastienHo The issue is that IE does not support JavaScript Promise. three.js uses Promises in their code.

See Promise compatibility here:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise#Browser_compatibility#Browser_compatibility

You should be able to use the Draco JavaScript decoder in IE11, but just not through three.js.

[2018-08-08 19:04] #415 closed

[2018-08-08 21:39] FrankGalligan commented on #450
I was saying you could use the OBJ exporter in Unity.

Then on the command line use:
draco_encoder -i <OBJ file> -o output.drc

In order to use export from Unity I think someone would need to create an encoder plug-in. Much like the decoder plug-in.

[2018-08-08 21:41] FrankGalligan commented on #436
Thanks @TobiasMorell

[2018-08-08 22:04] FrankGalligan commented on #431
@TobiasMorell I just tried your batman model with the latest code and Unity 2018.1.0f2 Windows and it worked.  Maybe try the batman model when we make a new release. Should be by next week.

[2018-08-09 04:03] dyangrun commented on #450
hi
you can try my solution，but you need add more you need~this is samply
[https://github.com/google/draco/pull/438](url)

[2018-08-09 04:20] dyangrun opened #451 "vector subscript out of range error,"
`int64_t ComputeShannonEntropy(const uint32_t *symbols, int num_symbols,
                              int max_value, int *out_num_unique_symbols) {
  // First find frequency of all unique symbols in the input array.
  int num_unique_symbols = 0;
  std::vector<int> symbol_frequencies(max_value + 1, 0);
  for (int i = 0; i < num_symbols; ++i) {
    ++symbol_frequencies[symbols[i]];
  }`

this max_v

[2018-08-09 05:32] dyangrun commented on #451
i check my data,found that my data was missing very large vertices.is error，fix it error disappears。
but if i real have very large vertices，is right value~
this issue can to happen,should be avoided

[2018-08-09 07:51] TobiasMorell commented on #436
Hi @FrankGalligan
I spent some time this morning trying to add a JavaScript library. I tried to things, none of which were successful:

1. Use the pre-built emscripten library. My problem here was that it does not work like the Unity plugin, i.e. it does not contain the function DecodeMeshForUnity.
2. Build a JavaScript version of the plugin with Emscripten. I tried to mess around with the make-fi

[2018-08-09 08:16] Ajes1337 commented on #450
Hi dyangrun

Link does not work :/ "This site can’t be reached"

To answer @FrankGalligan - my software is cross-platform, so I dont think that would work on Android in a runtime Unity build :/

I probably gonna try finding alternatives, when I think about it, I actually "only" need a compression algorithm that is suited for Vector3[] (vertices) only.. that is the only data in my software that tak

[2018-08-09 11:47] jeckgit commented on #430
I have the same problem. I downloaded the latest version of draco. I also want to display "large" .drc files. Maybe you find a way to display it properly.
[link to .drc](https://ufile.io/hpa5x)

kind regards

Joerg

[2018-08-10 07:31] FrankGalligan commented on #401
@simena86 and @loohopen, sorry it took so long to get back to you. Can you try this code without Simen's patch to see if it works for your files?

[code]

[2018-08-10 18:04] #447 closed

[2018-08-10 18:09] FrankGalligan commented on #436
@tomfinegan Can you help @TobiasMorell out with cmake?

[2018-08-10 18:10] FrankGalligan commented on #389
@shivabe Can you post your build output?

[2018-08-10 18:12] FrankGalligan commented on #373
Closing as it looks like it works.

[2018-08-10 18:12] #373 closed

[2018-08-10 18:16] FrankGalligan commented on #368
@nomercy0 Did you get this to work?

[2018-08-10 18:18] tomfinegan commented on #436
@TobiasMorell:

I'm assuming you already have the emsdk installed, and that an Emscripten build of Draco works for you in its standard form. In other words, this should already work:

    $ cmake -G "Unix Makefiles" -DCMAKE_TOOLCHAIN_FILE=/path/to/Emscripten.cmake path/to/draco && make

Assuming the above is working, what happens if you run cmake and build Draco like this?

    $ cmake -G "Unix Ma

[2018-08-10 18:27] FrankGalligan commented on #366
@zwcloud I decoded your my.drc and did not have any problems. Are you still having issues?

[2018-08-10 18:30] tomfinegan commented on #436
@TobiasMorell

Note, the second step is likely not enough, but would be a starting point. Glue code and IDL are likely needed for DracoToUnityMesh, ReleaseUnityMesh(), and DecodeMeshForUnity(). I can look into hooking this up next week.

[2018-08-10 19:32] shivabe commented on #389
It’s working while file convertion with Linux system

On Fri, 10 Aug 2018 at 23:40, FrankGalligan <notifications@github.com>
wrote:

--
Thanks & Regards
Sivakumar Subramaniam
+91 8495944440

[2018-08-10 22:51] FrankGalligan commented on #365
The issue is the obj file is not written correctly. If you look at the face line:
`f 1/1/ 2/2/ 3/3/`

Obj parsers would expect normal values.

[2018-08-10 22:51] #365 closed

[2018-08-10 22:59] FrankGalligan commented on #364
@JohnnyPosi Can you post model.obj and model.ply? If the models are the same the compression should not be different.

[2018-08-10 23:00] #363 closed

[2018-08-10 23:00] #362 closed

[2018-08-10 23:01] #359 closed

[2018-08-10 23:03] FrankGalligan commented on #357
@alter-sachin Can you upload a draco file that exhibits the crash?

[2018-08-10 23:04] #356 closed

[2018-08-10 23:04] #355 closed

[2018-08-10 23:05] FrankGalligan commented on #354
@nomercy0 We made some changes to how Draco works with Android and AndroidStudio. Is this still an issue?

[2018-08-10 23:13] FrankGalligan commented on #350
Closing if you are still having problems please re-open with new data.

[2018-08-10 23:13] #350 closed

[2018-08-10 23:13] FrankGalligan commented on #349
@donmccurdy I think this is fixed correct?

[2018-08-10 23:16] FrankGalligan commented on #348
Closing as this is an issue with three.js normal calculation.

[2018-08-10 23:16] #348 closed

[2018-08-10 23:25] #326 closed

[2018-08-11 03:00] kxf3199 commented on #435
this is my encoded data:
[glTF-Draco.zip](https://github.com/google/draco/files/2279863/glTF-Draco.zip)
the main code:
for (auto gmesh : gltf->meshes) {
			std::unique_ptr<draco::Mesh> dracoMesh(new draco::Mesh());
			// primitives
			for (auto gprim : gmesh->primitives) {

				if (!gprim->indices || gprim->mode != glTFMeshPrimitiveMode::Triangles) return false;

				glTFDracoMeshCompress* draco_m

[2018-08-11 03:06] kxf3199 commented on #435
l loaded the data by threeJS,the texture coordinate is uncorrect.
![wrong](https://user-images.githubusercontent.com/7865497/43987642-4f33e0e8-9d13-11e8-8b90-73bb8b18b46f.png)

[2018-08-11 05:41] FrankGalligan commented on #327
Added GetAttribute<type>ForAllPoints() functions.

See https://github.com/google/draco/blob/master/src/draco/javascript/emscripten/draco_web_decoder.idl#L212

[2018-08-11 05:41] #327 closed

[2018-08-11 05:42] #323 closed

[2018-08-11 05:43] #322 closed

[2018-08-11 05:43] #319 closed

[2018-08-11 05:43] #317 closed

[2018-08-11 05:48] FrankGalligan commented on #312
Closing this issue as the main issue seems to be addressed.

[2018-08-11 05:48] #312 closed

[2018-08-11 05:53] FrankGalligan commented on #306
If this is still an issue, please re-open.

[2018-08-11 05:53] #306 closed

[2018-08-11 05:55] #143 closed

[2018-08-11 05:55] #132 closed

[2018-08-11 05:56] #241 closed

[2018-08-11 05:57] #202 closed

[2018-08-11 06:02] #298 closed

[2018-08-11 06:06] FrankGalligan commented on #227
The code @fanzhanggoogle posted is just an example. Please use [three.js obj loader](https://github.com/mrdoob/three.js/blob/dev/examples/js/loaders/OBJLoader2.js) if you want to load an obj file.

[2018-08-11 06:06] #227 closed

[2018-08-11 06:08] FrankGalligan commented on #221
Please [using Draco in Unity](https://github.com/google/draco/tree/master/unity)

[2018-08-11 06:08] #221 closed

[2018-08-11 06:09] #201 closed

[2018-08-11 06:10] #198 closed

[2018-08-11 12:27] nomercy0 commented on #368
@FrankGalligan  I was able to load bunny.drc from unity **2018.1**  however   unity crashes when I load command line generated custom drc file with default setting (I was able to load the same drc file with webgl loader of javascript)
I am here attaching the obj file and along with generated drc with command line application of draco
[106.zip](https://github.com/google/draco/files/2280218/106.zip)

[2018-08-11 17:08] FrankGalligan commented on #297
This has been fixed for a while. Just tested up to -qp 30 and decoded fine.

[2018-08-11 17:08] #297 closed

[2018-08-11 17:17] FrankGalligan commented on #450
If you look at #295 @millerhooks looks to have some code to [encode from within Unity](https://github.com/millerhooks/draco/tree/unity_point_cloud_plugin).

[2018-08-12 16:39] #193 closed

[2018-08-12 16:40] #174 closed

[2018-08-12 16:46] #169 closed

[2018-08-12 16:50] #125 closed

[2018-08-12 16:51] FrankGalligan commented on #125
duplicate of #364

[2018-08-12 16:55] #121 closed

[2018-08-12 16:58] #117 closed

[2018-08-12 16:59] #110 closed

[2018-08-13 06:34] TobiasMorell commented on #436
Hi @tomfinegan. Thank you for your help.

Both commands ran to completion without any errors. However, it seems that the second command outputs both the libdracodec_unity.so file and the draco_encoder.js and draco_decoder.js. I was not able to find a js-version of the Unity-plugin after the build.
Please let me know if there's anything I can do to help.

[2018-08-13 07:37] nomercy0 commented on #368
@FrankGalligan  Any solution for this

[2018-08-13 16:44] FrankGalligan commented on #199
I think the compression levels for most models have gotten better. I just tested the model above and the size gets smaller as the cl goes up.

Compression Level | Encoded Size
0 | 244535
1 | 125869
2 | 125869
3 | 107705
4 | 107189
5 | 83297
6 | 80464
7 | 77514
8 | 77610
9 | 73807
10 | 72959

[2018-08-13 16:44] #199 closed

[2018-08-13 17:28] #116 closed

[2018-08-13 17:30] #112 closed

[2018-08-13 21:14] FrankGalligan commented on #450
@Ajes1337 Ahh OK. I thought the project added an encoder as well.

[2018-08-13 21:15] #111 closed

[2018-08-13 21:17] FrankGalligan commented on #109
Thanks for the info.

[2018-08-13 21:17] #109 closed

[2018-08-13 22:38] FrankGalligan commented on #107
No activity. Is this is till an issue please re-open.

[2018-08-13 22:38] #107 closed

[2018-08-13 22:57] FrankGalligan commented on #52
@syed-usman You can see how Draco does it in our obj parser here:
https://github.com/google/draco/blob/master/src/draco/io/obj_decoder.cc#L187

[2018-08-13 22:57] #52 closed

[2018-08-13 23:01] FrankGalligan commented on #443
We currently do not have any plans. But would welcome pull requests.

[2018-08-13 23:05] FrankGalligan commented on #451
@dyangrun Can you post the old file that exhibited the issue? It is nice to have to check that the bug is fixed.

[2018-08-14 01:27] FrankGalligan commented on #389
OK

[2018-08-14 01:27] #389 closed

[2018-08-14 03:09] #14 closed

[2018-08-14 03:32] #119 closed

[2018-08-14 03:38] FrankGalligan commented on #225
This is a very general question. But I'm sure there are places within the 4D pipeline that Draco could help with compression.

[2018-08-14 03:38] #225 closed

[2018-08-14 03:42] FrankGalligan commented on #302
Duplicate of #118

[2018-08-14 03:42] #302 closed

[2018-08-14 03:47] #311 closed

[2018-08-14 03:52] testkit commented on #443
Noted and thanks.

[2018-08-14 03:52] #443 closed

[2018-08-14 06:04] donmccurdy commented on #349
I can still reproduce this issue with the latest decoder on the [glTF 2.0 branch](https://github.com/google/draco/tree/gltf_2.0_draco_extension/javascript). Once `releaseDecoderModule()` has been invoked, the decoder cannot be recreated.

[2018-08-14 06:07] donmccurdy commented on #450
Related: https://github.com/KhronosGroup/UnityGLTF/issues/174

[2018-08-14 17:03] FrankGalligan commented on #368
@nomercy0 I tried out your file. It did not crash. We have fixed a few things in the past couple of days. #446 might be the issue you are seeing. We are going to try and make a new release this week.

[2018-08-14 17:27] FrankGalligan commented on #357
@alter-sachin I just tried with Windows Unity 2018.1.0f2 and it decoded fine. We made a few fixes in the past few weeks. We are going to release a new version this week. This might be related to #446 and #368

[2018-08-14 17:58] FrankGalligan commented on #435
@kxf3199 This code here:
[code]
I think might be wrong. SetAttributeValue() expects to set the data according to the attribute value not the data type values. So this should take into account number of components and byte stride. See here:
https://github.com/google/draco/blob/e3a9d6ce5241f2b7dc668e11db0a4308a65dd3fd/src/draco/attributes/point_attribute.h#L97

[2018-08-15 14:25] simena86 commented on #401
Thanks for your reply @FrankGalligan . Not sure why, but with your code I only seem to get the material names, e.g. `surface-style-408402` as in the example obj in  https://github.com/google/draco/issues/401#issuecomment-393126211.

At least in my case, I was interested in the sub_obj names, e.g. `2weB5UmZP9GOCGFBRYXrPI` from the obj example in https://github.com/google/draco/issues/401#issuecomme

[2018-08-15 17:11] nomercy0 commented on #368
@FrankGalligan  for your information obj encoded with tex_coord dont get loaded in unity windows however obj encoded without tex_coord gets loaded without a problem.
Hoping you will fix it on next release

[2018-08-16 07:52] alter-sachin commented on #357
Hey Frank .
Thanks :)
Will check out your new release.

[2018-08-16 08:30] alter-sachin commented on #435
Similar issue .
What are you suggesting we do to resolve this for our objs ?

[2018-08-16 09:02] nomercy0 opened #453 "Mesh is not getting loaded properly unity android"
1. I tried loading encoded  drc files (**with** --skip TEX_COORD ) with  unity android the mesh loads perfectly fine
2.  Again I tried loading encoded drc files (**without** --skip TEX_COORD which is default setting)  in unity android mesh got weird very weird and by applying material it does not show as expected.

I am attaching drc file for both along with screenshot of decoded mesh and original

[2018-08-16 09:19] MiracleVulkan opened #454 "RangeError: Invalid typed array length: undefined"
I have a model with a lot of mesh data in it, and when I load the model I make a mistake: RangeError: Invalid typed array length: undefined.

Is it because the data of  the model are too large? This is my model file.
https://pan.baidu.com/s/1JIPJEwfZ48t4RTT_twxOmQ

[2018-08-17 22:44] FrankGalligan commented on #446
Should be fixed in 1.3.4

[2018-08-17 22:44] #446 closed

[2018-08-17 22:44] FrankGalligan commented on #431
@TobiasMorell Can you try with release 1.3.4?

[2018-08-17 22:46] FrankGalligan commented on #404
@kiwipxl This should be fixed now in 1.3.4

[2018-08-17 22:46] #404 closed

[2018-08-17 22:47] FrankGalligan commented on #368
@nomercy0 Please try again with the latest release 1.3.4

[2018-08-17 22:47] FrankGalligan commented on #357
@alter-sachin Please try again with the latest release 1.3.4

[2018-08-17 22:48] FrankGalligan commented on #453
@nomercy0 Can you try again with release 1.3.4?

[2018-08-17 23:03] FrankGalligan commented on #454
@MiracleVulkan How did you load it that you got the error? I just tried decoding with draco_decoder application and it decoded fine.

[2018-08-18 07:55] nomercy0 commented on #368
Works perfectly fine

[2018-08-19 02:34] #357 closed

[2018-08-19 02:35] alter-sachin commented on #357
Works now. Thank you for the fix

[2018-08-20 23:03] #368 closed

[2018-08-21 20:07] hobu commented on #328
Thanks for the fix. I just tried it out and I get past building the draco.dll, but the tests do not build completely (they build without trouble in a static, non-`BUILD_SHARED_LIBS=ON` configuration, however).

[code]

[2018-08-24 03:49] riematrix opened #456 "out of bounds memory access on IOS 11.2.6"
**ios safari crashed** when loading .drc model/material, and after several refresh action the console reports an error: "out of bounds memory access".

**test data/code**
[example.zip](https://github.com/google/draco/files/2316919/example.zip)

I added texture load to the example code. Draco compression config is default.
browser: ios safari 11.2.6

**stack trace**
[Error] Unhandled Promise Reject

[2018-08-25 03:45] maskerman commented on #437
thanks! I try and find it's ok

[2018-08-25 03:45] #437 closed

[2018-08-25 14:56] nomercy0 commented on #453
Working now

[2018-08-27 13:09] jeckgit opened #457 "How to use animations?"
Hi. I'm trying to figure out how the animation code works right now. Can you publish a sample file where the keyframe animations are stored? How are the keyframe information stored in obj and ply files?

[2018-08-27 19:41] FrankGalligan commented on #457
Hi @jeckgit,

I put up some sample glTF files encoded with Draco animation here:
https://github.com/FrankGalligan/glTF-Sample-Models/tree/add_draco_animation

The files will be in the "glTF-Draco-Mesh-Anim" folders.

As for animation in OBJ and PLY, we currently do not have support for animation in those file formats. We currently only have support for glTF.

Code to create glTF Draco animation fi

[2018-08-28 03:40] MiracleVulkan commented on #454
@FrankGalligan
I'm sorry that it took so long to reply to you. I found that all of them are using Chrome browser. Some computers are OK, some computers are not. Generally low-configuration computers can not be opened, high-configuration computers can be turned on, so this is not related to computer memory?

[2018-08-28 11:17] jeckgit commented on #457
Now that I have some input, I will close the issue for now. TY

[2018-08-28 11:17] #457 closed

[2018-08-30 10:33] TobiasMorell commented on #431
@FrankGalligan After trying on Windows in Unity 2018.2.5f1 I can confirm that the newest update solved the issue.

[2018-08-30 10:34] TobiasMorell commented on #436
Hi @tomfinegan. Have you had time to look into this issue?

[2018-08-30 12:30] simena86 commented on #401
Here's a fiddle with my patch

https://jsfiddle.net/turbowhale/h0t179pa/42/

Notice that the object names are logged `cube-object` etc..

[2018-08-30 17:08] FrankGalligan commented on #454
So it could very well be related to computer memory. Can you post the configuration of some of the low-configuration computers?

[2018-08-30 21:47] tomfinegan commented on #436
Only enough time to confirm that Draco needs IDL and wrapper code for the Draco Unity Plugin for this to progress further. I'm going to flip the assignment of this back to @FrankGalligan, at least for now, as I don't have time to investigate this more deeply at present.

[2018-09-01 12:38] JohnnyPosi opened #458 "Error: "Invalid number of indices on a face.""
I'm getting this error when I'm trying to decode my `.obj` model. Is there any way to fix it?

[2018-09-01 13:31] JohnnyPosi commented on #458
Solved it: when export the model in Blender, just enable "Triangulate Faces" option. It increased the object size though.

[2018-09-04 08:04] jeckgit opened #459 "How n-polygons are compressed and why only triangle meshes are created during decompression"
Hello,
I was wondering how the compression algorithm and the decompression algorithm work. With Draco, n-polygonal meshes can be compressed. However, only triangle meshes are created during decompression.
I assumed that the algorithm ["Geometry Prediction for High Degree Polygons"](https://www.cs.unc.edu/~isenburg/gphdp/) presented by Isenburg was used for compressing, because I repeatedly came ac

[2018-09-05 13:06] jeromeetienne commented on #458
Just for logging, the same happened to me and the same solution worked. What about appending this message with 'Maybe try to triangulate your model?"

[2018-09-05 13:19] jeromeetienne opened #461 "codelab javascript example seems obsolete."
I followed the codelab tutorial at https://codelabs.developers.google.com/codelabs/draco-3d/

Unfortunatly the examples source seem to rely on a previous version of the API and no more work with current version of this repo

[2018-09-05 13:22] jeromeetienne opened #462 "codelab compilation step seems obsolete"
the compilation step for draco in the codelab seems to be obsolete. https://codelabs.developers.google.com/codelabs/draco-3d/index.html#2

doing ```cmake .``` in draco repository is reporting the following message.

[code]

Those instructions worked for me

[2018-09-10 05:36] MiracleVulkan commented on #454
@FrankGalligan
I'm sorry that it took so long to reply to you. My CPU is AMD Ryzen 5 1500X Quad-Core Processor (8 CPU),The memory is 8192MB RAM.The graphics card is NVIDIA GeForce GT 1030.
Do you need any other information?Thank you very much.

[2018-09-12 08:56] gy321 opened #463 "the data of vertexColors in obj files is missing."
the format of my obj file is:
                 v 106.00 126.00 23.92 0.63 0.47 0.40
                 v 106.00 125.89 24.00 0.63 0.47 0.40
                 v 105.80 126.00 24.00 0.63 0.47 0.40
The last three columns contain vertex colors information of the mesh.After the course of encoding and decoding,the data of vertex colors is missing:
                 v 122.000031 113.800018 24.500034

[2018-09-12 14:12] mhsaar commented on #463
Hi,

the three last rows are interpreted as vertices, see the v in front.
Do you have a .ply file representing your mesh? see also:
https://gamedev.stackexchange.com/questions/21303/how-can-i-include-vertex-color-information-in-obj-files

best,
 Michael

On Wed, Sep 12, 2018 at 1:56 AM gy321 <notifications@github.com> wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn:

[2018-09-17 08:47] maskerman opened #464 "how to encoder some bad data ,avoid crash?"
I export a obj file that has some wrong texture data; It can import to 3dsmax, but when I use draco_encoder, draco will crash.  how to avoid it?
[render_28_0.zip](https://github.com/google/draco/files/2387814/render_28_0.zip)

[2018-09-21 06:41] imhuwq commented on #425
I'm searching for this too, and I find this wikipedia page about [ANS algoritm](https://en.wikipedia.org/wiki/Asymmetric_numeral_systems):

[2018-09-24 16:02] jeckgit opened #465 "How to create Draco_animation_compression"
Hello,

I am trying to create the Draco_animation_compression, with the gltf-pipeline.
[https://github.com/FrankGalligan/gltf-pipeline/tree/add_draco_animation_compression](https://github.com/FrankGalligan/gltf-pipeline/tree/add_draco_animation_compression)

I wanted to compress the AnimatedMorphCube Example.
[https://github.com/FrankGalligan/glTF-Sample-Models/tree/add_draco_animation/2.0/Animate

[2018-09-25 01:32] benpurdy opened #466 "Is there a reason that the IE_COMPATIBLE build option was removed in 1.3.4?"
Please forgive me if this is obvious as I'm quite new to this project (and emscripten as a whole) but is there some reason that the IE_COMPATIBLE option was removed from this project in version 1.3.4? It was added via PR #405 but in 1.3.4 it seems to have been removed.

I was able to re-add this functionality by editing my CMakeLists.txt similarly to how it worked in the code from the PR reference

[2018-09-25 20:05] SirVer opened #467 "C-API for FFI"
I'd like to use draco in https://github.com/googlecartographer/point_cloud_viewer, but I am not using C++. Binding to the library would be much easier if there was a minimal C-API. This would also allow to use the library easily from Python.

Is it feasible to add a (minimal) C-API, tailored for FFI?

[2018-09-30 11:20] SirVer opened #469 "Problems encoding a pointcloud"
I think I am holding it wrong, but the c++ encoder API is not easy to understand for me.

In this Gist: https://gist.github.com/SirVer/c463c5046f690f4f8ab5c4a361fc7fa4 I have the function I use for encoding. This function is used on ~6000 small point clouds (~1e5 points each). The code runs through without crashing and also returning `status.ok()` for the `EncodePointCloudToBuffer` call, however t

[2018-09-30 17:52] mhsaar commented on #469
Hi Holger,

just a quick reply: have you cross_checked with
https://github.com/google/draco/blob/master/src/draco/compression/encode_test.cc
?

best,
 Michael

On Sun, Sep 30, 2018 at 4:20 AM Holger Rapp <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@google.com
LinkedIn: www.linkedin.com/in/mhsaar

[2018-10-02 08:49] wybieralski opened #470 "Compression level is dramatically low when using it via C++ API in external project"
Hello,
I am using Draco library in my C++ project to compress STL/OBJ 3D meshes.
Draco::Mesh is being built from my-type Mesh using TriangleSoupMeshBuilder ( as in there https://github.com/google/draco/blob/master/src/draco/mesh/triangle_soup_mesh_builder_test.cc )
and being written in the file like:

`
draco::EncoderBuffer enc_buffer;
    draco::Encoder encoder;
    //    enc_buffer.Encode(0);

[2018-10-02 15:13] ondys commented on #470
It would be better to encode the geometry directly through draco::Encoder or draco::ExpertEncoder .. doing it via WriteMeshIntoStream is not that well supported at this moment.

The main reason for poor compression is mostly likely because no quantization is set for individual attributes and they are encoded losslessly (which Draco does not really compress at all). If you used draco::Encoder, you

[2018-10-02 20:52] hobu commented on #328
Reporting back that the tests are running for me now. There's a failure, but I'll make a new ticket for it.

[2018-10-02 20:52] #328 closed

[2018-10-02 21:01] hobu opened #471 "EncodeGoldenMesh test failure with e9337d1faaa667d313e376d48dbc7007254fb032"
Using MSVC 2015, I am getting a failure with EncodeGoldenMesh

[code]

[2018-10-02 22:54] briar-smith opened #472 "Executing with g++ 4.8.4 possible?"
g++ is required to execute Draco (likely due to std lib dependencies?). It looks like g++ 4.9 executes Draco but the servers I'm trying to run on are Ubuntu 14.04, g++ 4.8.4. Is there anyway to execute it with this version of g++?? Help would really be appreciated.

[2018-10-03 07:11] wybieralski commented on #470
Thank you very much, I will work on it.

[2018-10-08 11:13] ft-lab opened #474 "About checking "points_64 > faces_ 64 * 3" in mesh_sequential_decoder.cc"
I'm sorry for sentences that are difficult to understand by automatic translation.

Hi,
I am developing glTF Importer/Exporter in C++.
Using draco 1.3.4.

On Encode,
For Morph Targets implementation,
  encoder.SetEncodingMethod(draco::MESH_SEQUENTIAL_ENCODING);
using.

When multiple primitives in one mesh and sharing vertices data,
the indices and vertices data stored in draco are redundant.
(It a

[2018-10-08 19:50] SirVer commented on #469
I missed the `PointCloud::set_num_points` call o_O. Thanks for pointing me to this quasi documentation, Michael!

[2018-10-08 19:50] #469 closed

[2018-10-12 12:55] dletozeun opened #475 "CMake configure fails with c++_static.props not found"
Hello,

On following build host system configuration:
Windows 10
VS 2017 15.8.1
CMake 3.12.3
Nsight Tegra for VS 3.5

The CMake build configuration fails for at least arm and arm64 architectures with the following error:

The c++_static.props file does not exist at least in my VS install and replacing with llvm-libc++.props worked. To do so I replaced in the toolchain cmake file of each architectu

[2018-10-12 14:42] tomfinegan commented on #475
What NDK version are you using?

[2018-10-12 15:09] dletozeun commented on #475
Hi Tom,

I uses the latest version supported by VS 2017: r15c

[2018-10-12 16:21] tomfinegan commented on #475
Interesting. Nvidia [docs](https://docs.nvidia.com/gameworks/content/developertools/mobile/nsight_tegra/nsight_tegra_v3_5.htm) claim r14 is the latest, but perhaps that page is out of date. TBH, I'm not sure that matters here. It was the only missing piece for a repro attempt if it comes down to that.

This problem is somewhat confusing since the CMake [docs](https://cmake.org/cmake/help/latest/va

[2018-10-16 09:29] ymb27 opened #476 "gltf encode with c++"
is here some sample about gltf encode with c++? I complie the project, it can work with .obj, but it can't encode the gltf directly. I want some sample about gltf encode with c++.

[2018-10-22 08:43] Tostifrosti opened #477 "`ReleaseUnityMesh` not found"
I'm trying to include the Draco Importer for Unity but i keep getting this error that the `ReleaseUnityMesh` method can not be found. I've followed every step on the readme page. It feels like that the `dracodec_unity.dll` doesn't contain the code for `ReleaseUnityMesh`. I've tried to build the source of draco and use that DLL in Unity, but that has unfortunately no effect.

Unity: 2018.2.13f1
Pla

[2018-10-24 10:54] YouYue123 commented on #67
Any update on making a direct support for JS encoder or DracoLoader to get sub-object information. Actually if you can add polygon groups (g) or smoothing groups(s) support in a more straight API it would be very helpful

[2018-10-24 13:32] paulsabyasachi opened #478 "Missed properties for PLY file format"
Hi,

I am using command line terminal for encoding and decoding ply files. I use Stanford bunny for testing. After the decoding step, the confidence and intensity values of Stanford bunny test files gets dropped. I saw a post where it was mentioned that support will be added for this particular issue. Can you help me with this. Thanks!

[2018-10-25 10:43] imhuwq commented on #459
I think there are two layers of compression in the Draco lib:
- mesh compression using ParallelogramPrediction etc.
- data compression using ANS algorithm

[2018-10-25 13:00] YouYue123 opened #479 "Draco_encoder sub-object sequence"
Hi,

I am using Draco C++ encoder and javascript decoder for OBJ model. The mesh and meta information are well transferred. But the sequence of sub model is changed in a fixed way. Is there any way to preserve the sequence of sub-model?

Thanks

[2018-10-25 14:49] YouYue123 commented on #401
I met a problem:

when there is multiple sub-object, the sequence of sub-object name will not be preserved. Any similar issue from you guys?

[2018-10-26 07:21] MiracleVulkan opened #480 "Does draco currently support compression of polylines?"
I have a model that requires several specified border lines. Is there any good suggestion? Thank you very much.

[2018-10-26 09:27] EvgenyRodygin opened #481 "Triangles sharing only one vertex with others get disconnected after encoding"
Meshes which have triangles sharing only one vertex with others get those triangles completely disconnected from the rest of the mesh. I.e. they have their own unique vertex set.

I've attached a very simple **example**. Please note that the sufficient number of vertices to describe this mesh is **11** (which it is in "ply"). But it gets **12** after converting **with draco**. For my use case, thi

[2018-10-26 15:30] mhsaar commented on #480
Do you have a 3D object with polygonal faces or a 2D polylines?

For 3D you may triangulate the polygon and then use Draco mesh compression.
For 2D dense polylines you can use the sequential encoding of point
"clouds" as this preserves the order of the points.

On Fri, Oct 26, 2018 at 12:21 AM MiracleVulkan <notifications@github.com>
wrote:

--
------------
Phone: (415) 301 8915
Email: hemmer@goog

[2018-10-28 23:39] NumaNumaNuma commented on #477
Same here on Mac OS, is that method missing from the compiled plugin?

[2018-10-30 18:45] mhsaar commented on #480
Sorry, still a little confused.

This looks like a CAD model with NURBS patches, or similar. Do you have
that representation or have you converted this to a triangular mesh.

For the polylines:
* Do you want to store them separately?
* Or do you want to mark existing edges in the triangular mesh?

best,
 Michael

On Sun, Oct 28, 2018 at 7:26 PM MiracleVulkan <notifications@github.com>
wrote:

--
-

[2018-11-01 07:48] NumaNumaNuma commented on #477
Found the problem, the script was missing a declaration. just add this after line 48 in DracoMeshLoader.cs:
`[DllImport("dracodec_unity")]
    private static extern int ReleaseUnityMesh(DracoToUnityMesh** tmpMesh);`

Also in DracoDecodingObject.cs, it automatically loads "bunny" but it should be "bunny.drc", as the test file is called bunny.drc.bytes and unity trims the last extension only, not bo

[2018-11-01 17:03] YouYue123 opened #482 "Duplicate object name will be ignored"
Hi,

I have an obj file as below with duplicated object name, so far I found draco will just merge the object with same name into same one. It actually changed the original OBJ model structure. Is this an expected behaviour by design?

[2018-11-01 17:08] YouYue123 commented on #482
The relavant  code piece as below in obj_decoder.cc

[code]

[2018-11-09 08:20] dyangrun commented on #451
@FrankGalligan Sorry for so long to reply, i check my data for a long time, because the NaN value appeared in .obj file，so is not issues.

[2018-11-09 08:20] #451 closed

[2018-11-09 08:21] dyangrun commented on #451
@FrankGalligan Sorry for so long to reply, i check my data for a long time, because the NaN value appeared in .obj file，so is not issues.

[2018-11-23 18:49] meenalpatil-2007 commented on #406
@qweas120 This solution partially worked for me. It resolved all "error: call of overloaded ...  is ambiguous" errors.
But there are few more as below. Any help with this would be very much helpful:

`In file included from /home/ec2-user/draco/src/draco/compression/attributes/kd_tree_attributes_decoder.cc:17:0:
/home/ec2-user/draco/src/draco/compression/point_cloud/algorithms/dynamic_integer_point

[2018-11-27 03:03] Leehomwang opened #483 "can point cloud encoder do not remove duplicate points?"
I have a obj file `1.obj` with 5 points:
[code]
where the first point and the last point is the same one.
then I encode it with `draco_encoder.exe -i 1.obj -o 1.drc`.
and then I decode 1.drc with Javascript Decoder API THREE.DRACOLoader, I only get 4 points.
how can I get the original 5 points?

My operating system is windows 10 x64.

[2018-11-28 02:55] Amoryan opened #484 "use draco in androidstudio"
**CMakeLists**
cmake_minimum_required(VERSION 3.4.1)

add_subdirectory(../draco
                 ${CMAKE_BINARY_DIR}/draco_build)
include_directories("${CMAKE_BINARY_DIR}" ../draco)

add_library(
             native-lib

             SHARED

             src/main/cpp/native-lib.cpp)

find_library(
              log-lib

              log )

target_link_libraries( # Specifies the target library.

[2018-11-29 07:52] MiracleVulkan commented on #480
@mhsaar thanks very much
I am sorry to reply you for a long time. Yes, this is a CAD model. I have converted the model into a triangular mesh. I am now writing the line separately in a file, but the effect is not very good. So can I use any method to mark an existing edge?
best,
Miracle

[2018-12-05 15:21] mingweiLIU opened #485 "Error when encoding triangulated line object"
Hi, I hava a obj model in which contains a line, the line is triangulated, while there is an error when I encode the model with the draco_encoder.exe, the infomation is "Out of range" as shown in the image below:
![2](https://user-images.githubusercontent.com/11702952/49523166-2910d100-f8e4-11e8-9138-f99fff5c1302.png)
The platform I tested is windows10, vs2015 x64; and the attached file is the tes

[2018-12-05 22:44] #453 closed

[2018-12-10 13:35] JVaughan1978 commented on #202
Was this ever fully resolved?

[2018-12-10 23:21] JaroslavPribyl commented on #202
Hi,

unfortunately no. I tested it now with the latest 1.3.4 draco_decoder.js embedded inside <script></script> tags in .html file with the same result. The only chance to fix that is to use wasm (which could be also embedded inside a .html file and moreover is much faster in decompression time) or manually replace in the draco_decoder.js the following block of code:

try{if(ArrayBuffer.transfer){

[2018-12-14 22:20] hobu opened #490 "Non-standard "build" directory installed in top-level CMAKE_INSTALL_PREFIX"
A typical installation unexpectedly creates a "build" directory that gets installed in CMAKE_INSTALL_PREFIX that has a `draco_version.h` and a `draco_test_config.h` file in it on both windows and OSX builds with current master. Is this an expected behavior? I was working to make a Draco package for [conda-forge](https://github.com/conda-forge/staged-recipes/pull/7286), but this particular behavior

[2018-12-18 02:09] ToniFF commented on #475
With Draco 1.3.4, NDK r12b, and Visual Studio 2017, I met the same issue too and "-DCMAKE_ANDROID_STL_TYPE=llvm-libc++_static" doesn't work. I have to modify the toolchain cmake files. Thank you for sharing the solution.

[2018-12-21 09:25] hajop opened #491 "Chac Mool Example - black screen after chrome canary update"
Good morning,

I have tried the last few days, the Chac Mool Example and I am really very impressive. It's really great!

Yesterday my Chrome Canary did an update to version 73.0.3634.0. Since then I only get a black window when I open the 3D object in the example.

Am I alone with this problem or is it already known?

Thanks for the help!

[2018-12-21 09:27] #491 closed, assigned to nobody

[2018-12-21 13:34] guanprco commented on #423
Hi @ondys,

Draco implementation has references to mesh sequential encoding in a few places:
* class MeshSequentialEncoder cf src/draco/compression/mesh/mesh_sequential_encoder.h
* class MeshSequentialDecoder cf src/draco/compression/mesh/mesh_sequential_decoder.h

Is sequential encoding now supported, meaning it should be possible to use Draco to exchange triangle strip?

Regards,

[2019-01-03 03:33] ghj227 opened #492 "This media group used darco for their adroid /VR, anyone konws which TCP Protocol they choosed?"
thank you for the project! I'm using it for the online compress and render ,  but I don't kown which one  google medie group used  to send and receive drc file.

[2019-01-10 06:16] lookreelDev opened #494 "Cannot create directory"
HI,

I am flowing step 4: Encode your first 3D asset. Apparently it doesn't recognise the -i command and and was told to change it to -d. when I run this "./draco_encoder -i testdata/bun_zipper.ply -o bunny.drc"

I get an error:
CMake Error: The source directory "D:/Workspace/Draco/draco-master/bunny.drc" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.

It seem

[2019-01-10 23:08] ranbuch opened #495 "failed to asynchronously prepare wasm"
When trying to load a compressed GLB with three-js loader I'm getting this error:
`failed to asynchronously prepare wasm: LinkError: WebAssembly Instantiation: table import 1 is smaller than initial 492, got 468`

Any idea what's wrong with my implementation?

[2019-01-11 08:53] ranbuch commented on #495
Problem solved after replacing my `draco_decoder.wasm` file that I have downloaded from this repository with another `draco_decoder.wasm` that I've downloaded from here:
`https://gltf-viewer.donmccurdy.com/lib/draco/draco_decoder.wasm`.

Perhaps I had some kind of versions mismatch or something.

[2019-01-15 04:39] gameatp opened #496 "As long as the UV of the model is compressed, the decoding error will be reported."
![image](https://user-images.githubusercontent.com/4427058/51159079-46ad5f00-18c2-11e9-8811-0d41a85a74ba.png)
[21003.zip](https://github.com/google/draco/files/2758056/21003.zip)
Above is the source file of the model.

[2019-01-17 07:15] cucrui opened #497 "How can i use this lib to code Point-Cloud stream in real-time"
just as title

[2019-01-17 13:32] #496 closed

[2019-01-17 16:16] sreinhard opened #498 "Add support for array metadata in JavaScript API"
The JavaScript MetaData API seems to be limited to strings and single numbers currently. Could you add support for array metadata?

[2019-01-22 09:37] MiracleVulkan commented on #454
@FrankGalligan
Oops! Now I can run on chrome 64 bit, but that's still the problem at 32 bit.Is there any other solution?thanks very much

[2019-01-27 09:41] SaschaWillems opened #499 "Error enum in status.h collides with error define on Windows in wingdi.h"
The ```status.h``` includes an enum that defines a value for ```errror``´:

![image](https://user-images.githubusercontent.com/10283127/51799242-8a3b8d80-221f-11e9-82f3-b7f0e7ad33fa.png)

If you're using Draco in a Windows application that creates a window, this may collide with an error define in ```wingdi.h```.

While this is a minor problem that can be handled at application level, by manually

[2019-02-04 09:07] Rakiah opened #500 "Model with multiple meshes will get encoded/decoded wrong"
I'm getting bad results when trying to encode a multiple mesh obj into draco & then decoding it in Unity, I think it is probably related to the fact that my obj has multiple meshes,

is there a workaround ?

[2019-02-13 10:12] Tostifrosti commented on #475
I came across this error as well (Draco 1.3.5, VS2017, NDK r16b, CMake 3.13.0-rc1). Adding this line `-DCMAKE_ANDROID_STL_TYPE=llvm-libc++_static"` doesn't fix the problem. It seems to be ignored by Visual Studio (maybe it's a setting within Visual Studios).

I found a small workaround:

1. Use your cmake command to create the cache files.
2. Go to that folder /CMakeFiles/(your cmake version)/CMak

[2019-02-14 09:37] Tostifrosti opened #502 "Unity Plugin builds are in debug mode"
The draco plugins for unity (Android) in the latest version (1.3.5) are in build in debug mode. The plugins in this repo are around ~25.3 MB for ARMv7 and ~28.4 MB for ARM64 which is quite a lot. After building the project for myself using the release command, the plugins became much smaller and run much smoother: ~5.5 MB for ARMv7 and 7.8 MB for ARM64.

So far, I was only able to test for Android

[2019-02-18 11:35] r-lyeh commented on #14
Sorry to bring this up but... we were the comparisons after all? I can't find them neither in README nor homepage.

[2019-02-19 13:00] afabri opened #503 "How to read position coordinates of a non-manifold mesh"
In [this gist](https://gist.github.com/afabri/06327638bd5f3c8280d002ec098d8045)  I read a drc file and I want to write the xyz coordinates of the vertices of the first face.  The output looks correct for a 2-manifold mesh encoded as .drc file, but the output is wrong for a non-manifold mesh (I produced it with the encoder that converts a ply to a drc file, giving it three triangles that share an e

[2019-02-19 23:05] ondys commented on #503
With default settings, Draco automatically splits non-manifold vertices to ensure the resulting surface is manifold. What this means in practice is that the output (decoded) mesh is going to have more vertices than the input mesh. If you want to preserve the non-manifold connectivity you would need to explicitly select different encoding method (MESH_SEQUENTIAL_ENCODING) .. this would preserve the

[2019-02-19 23:09] ondys commented on #500
I believe Draco ignores sub-meshes in the Unity plugin. The only workaround would be to split the obj files into multiple files (one for each submesh)

[2019-02-19 23:11] ondys commented on #498
I'll add this to our internal issue tracker.

[2019-02-19 23:13] ondys commented on #497
can you elaborate more about your use case?

[2019-02-19 23:20] ondys commented on #485
The main issue is that all triangles are degenerate which the encoder does not currently handle properly.

One way to fix this would be to set encoding method to use sequential encoding that would work with degenerate triangles (`SetEncodingMethod(MESH_SEQUENTIAL_ENCODING)`) .. this is currently possible only via the C++ api though.

[2019-02-19 23:23] ondys commented on #483
Our obj loader by default deduplicate all points
     - this can be turned off by calling `obj_decoder.set_deduplicate_input_values(false)` (C++ api only)
There is no way to do this directly from the draco_encoder.exe app though.

[2019-02-19 23:27] ondys commented on #482
yes it is by design. it can be changed if a different behavior is different from the spec (or expectation of the majority of developers)

[2019-02-19 23:29] ondys commented on #481
related to https://github.com/google/draco/issues/503

By default, draco splits all non-manifold vertices/edges (when a two surfaces meet in one vertex, the vertex is non-manifold). The only solution for this would be to explicitly set encoding method to `MESH_SEQUENTIAL_ENCODING` (c++ api only)

[2019-02-19 23:35] ondys commented on #479
the values in the attribute that holds the sub object indices should correspond to the order in which the sub-objects were defined in the input .obj file ..

that is, in Javascript, if you call for example `GetAttributeUInt32ForAllPoints()` on the attribute that holds the sub-object ids, the returned values should correspond to the original sub-object order.

[2019-02-19 23:37] ondys commented on #478
yes, unfortunately our PLY currently handles only a limited set of properties. We welcome any contributions to add support for more properties.

[2019-02-19 23:39] ondys commented on #476
Draco currently does not have encoder for GLTF files. One way to make draco encoded gltf files would be to convert your input model to a gltf (without Draco) and then run the file through a gltf pipeline (https://github.com/AnalyticalGraphicsInc/gltf-pipeline)

[2019-02-20 01:29] mingweiLIU commented on #485
Thanks a lot.

[2019-02-20 02:00] cucrui commented on #497
Im using IntelRealsense Depth camera to obtain PointCloud stream, and i want to transmit stream from one pc to another by wifi,before transimission, i need to compress stream to bit stream. so i wanna know whether this lib work out for compression. thx dude

[2019-02-20 07:42] afabri commented on #503
I understood this. With my mesh consisting of three triangles sharing an edge, I have 9 corners.
![nonmanifold](https://user-images.githubusercontent.com/3263539/53074128-43714880-34ea-11e9-9a21-b63208a32842.png)
The question is how to get the coordinates of the vertices `u` and  `v`, because that are the wrong coordinates you see in the output above: `6.10352e-05 1.00006 0`.
So something in my lo

[2019-02-20 12:03] UX3D-schmithuesen opened #504 "Compression level >6 yields larger file"
When testing the command line encoder with a very simple example object, I noticed that any compression level above 6 yields in file sizes **larger** than 6.
[monkey.zip](https://github.com/google/draco/files/2884523/monkey.zip)

**NOTE**: When inspecting all the possible levels, I also noted a huge gap between 4 and 5. So as far as compression goes, 5 and 6 are the best options by far while any n

[2019-02-20 15:16] manuel-castro opened #505 "Fastest way to get decoded mesh into JavaScript Float32Array/Uint32Array?"
First of all, just wanted to say, draco is a great achievement. I have MB level meshes and am seeing compression levels of 5-6x better than gzipped ply.

I am trying to optimize the time from having downloaded the compressed mesh to populating a JS Float32Array with vertex coordinates and a Uint32Array with vertex indices (for faces). The way I am doing it right now, I basically copied from the ex

[2019-02-20 17:28] tomfinegan commented on #494
@GeorgeDevDeakin Please include all console commands and output. This error is strange:

The above makes little sense. It appears that you're running CMake and trying to pass it a draco input file. Have you actually built the draco sources?

[2019-02-20 22:36] manuel-castro opened #506 "Is quantization of a single value always the same? Or is it dependent on the rest of the mesh?"
I have a question about quantization. If I encode two different meshes with the same quantization for position (say 14) that share a point, and then decode the meshes, will the two decoded meshes still share that point? In other words, if (x, y, z) is the original vertex in the two original meshes, then will both decoded meshes contain (q(x), q(y), q(z))? Or will the two vertices be slightly diffe

[2019-02-25 17:56] manuel-castro commented on #506
I figured it out by looking at the C++ code. By default Draco builds a bounding box cube around the mesh where the length of the sides of the cube are equal to the coordinate of the mesh that has the largest range.

For anyone else who wants to see how the quantization works, I recommend taking a look at the quantization_utils and attribute_quantization_transform files

[2019-02-25 17:56] #506 closed

[2019-02-26 12:26] d-hw opened #507 "emscripten build with asm.js"
Hi there!
I was trying to add some console output to encoder code to better understand how it works, and then build draco using emscripten with Emscripten.cmake contained
`WASM=0`
, also
`option(WASM off)`
 in CMakeLists.txt and no additional arguments for my cmake to compare it with javascript/npm/draco3d files, but I'm still ending with .wasm files for encoder and decoder and wasm loaders in .js

[2019-02-26 14:04] hobu opened #508 "Conda build"
I have made Draco available on OSX, Win64, and Linux on Conda. See https://github.com/conda-forge/draco-feedstock for details.

[2019-02-26 20:41] ondys commented on #503
When the mesh is non-manifold `CornerTable` creates extra vertices that do not correspond to the position values directly.

you may want to try to change the second line in your code to:
[code]
This should give you the "parent" vertex index. For the newly created vertices (due to non-manifold splitting), the parent is the original vertex before the splitting.

Alternatively you can retrieve the po

[2019-02-26 23:14] ondys commented on #505
It is unfortunately necessary to copy the data from the emscriten memory pool to Javascript. It may be possible to do that more efficiently than shown on the examples but it would probably require to update the WebIDL bindings to provide a more direct access to the underlying emscripten memory that would then allow to wrap it in Javascript Array objects that can be copied more efficiently. We curr

[2019-02-26 23:20] ondys commented on #504
Thank you for reporting this. This is a known issue. The compression levels are defined by a (mostly hard-coded) set of compression features that should usually result in better compression / slower speed as the compression level increases. That being said, there are models where the features enabled for lower compression levels result in better compression compared to higher compression levels. W

[2019-02-26 23:25] ondys commented on #497
it really depends on the amount of points per second, your machine specs and structure of your point cloud data. Draco is not doing any temporal compression so every frame would have to be compressed independently. In general, encoding speed may be an issue unless you use compression level 0 or explicitly specify the encoding method as `POINT_CLOUD_SEQUENTIAL_ENCODING`.

[2019-02-26 23:29] ondys commented on #459
Draco works only on triangular meshes. For some cases (e.g. obj files) the n-polygons are triangulated during mesh loading, but they are not preserved during compression. One way to preserve general polygons is to use generic attributes that store what edges are "internal". To see how that could be used check code used in the Draco USD plugin:
https://github.com/PixarAnimationStudios/USD/pull/761

[2019-02-27 06:39] Falken42 commented on #497
@cucrui We recently had a project where we also streamed depth data from an Intel RealSense D415 over wifi, although we decided to compress the depth map itself (as an F32 image) using [zfp](https://github.com/LLNL/zfp), then reconstruct the point cloud data on the client from that.  This might be more feasible to do in realtime than attempting to compress/transmit/decompress the point cloud itsel